<div class="title-page">
	<div class="row">

		<div class="col-md-8">
			<h1>Vendedores <small>({{ vendedores.config.total }} registros)</small></h1>
		</div>
		<div class="col-md-4 text-right">
			<a href="/vendedores/gerencia" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Cadastrar</a>
		</div>

	</div>
</div>

<div class="box-content">

	<div class="box-subtitle"><h2>Listagem dos vendedores</h2></div>

	<div class="row">
		<div class="col-md-12">

			<form action="/vendedores">

				<div class="form-group margin-bottom-0">
					<label>Filtro</label>
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Nome do vendedor ou e-mail" name="vendedor_term" ng-model="get_filters.vendedor_term">
						<div class="input-group-append">
							<button class="btn btn-primary" type="submit"><i class="icon-magnifier icons"></i> Buscar</button>
						</div>
					</div>

					<div ng-if="vendedores.config.is_search">
						<small>Mostrando {{ vendedores.config.total }} resultados para "{{ get_filters.vendedor_term }}".</small>
						<small><a href="/vendedores" target="_self" class="text-danger">Limpar filtro</a></small>
					</div>

				</div>

			</form>

		</div>
	</div>

	<table class="table table-striped margin-top-30">
		<tr>
			<th>Vendedor</th>
			<th class="text-center">Cadastrado</th>
			<th width="120"></th>
		</tr>
		<tr ng-repeat="(key, val) in vendedores.results">
			<td>
				<strong>{{ val.vendedor_nome }}</strong><br />
				<small>{{ val.vendedor_email }}</small>
			</td>
			<td class="text-center">{{ val.create_timestamp * 1000 | date:"dd/MM/yyyy HH:mm" }}</td>
			<td width="120" class="text-right">
				
				<a href="/vendedores/visualizar/{{ val.id }}" class="btn btn-sm btn-primary">
					<i class="fa fa-file-text-o" aria-hidden="true"></i>
					<div class="btn-tooltip">Visualizar</div>
				</a>

				<a href="/vendedores/gerencia/{{ val.id }}" class="btn btn-sm btn-warning">
					<i class="fa fa-pencil" aria-hidden="true"></i>
					<div class="btn-tooltip">Editar</div>
				</a>

				<button href="#" ng-click="delete_vendedor(val.id)" class="btn btn-sm btn-danger">
					<i class="fa fa-trash-o" aria-hidden="true"></i>
					<div class="btn-tooltip">Excluir</div>
				</button>

			</td>
		</tr>
		
	</table>
	
	<!-- pager -->
	<div class="text-center margin-top-30">
		<div aria-label="navigation" ng-if="config.total_pages > 1" class="d-inline-block"
			paginate-navigation 
			data-paginate="paginate"
			data-config="config"
			data-url="/vendedores/">
		</div>	
	</div>

</div>