<h1 class="title-page">Gerencia tipo comercial</h1>

<div class="box-content">

	<form ng-submit="vm.setItem()">

		<div class="box-subtitle">
			<h2>Cadastro / edição de tipo comercial</h2>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="row">

					<div class="col-md-12">
						<div class="form-group">
							<label for="tipo_nome">Tipo comercial</label>
							<input type="text" class="form-control" id="tipo_nome" ng-model="data.tipo_nome" placeholder="Digite o tipo comercial aqui..." required>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label for="tipo_price">Valor</label>
							<input type="text" class="form-control" id="tipo_price" ng-model="data.tipo_price" money-mask>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label for="tipo_descricao">Descrição</label>
							<textarea class="form-control" id="tipo_descricao" ng-model="data.tipo_descricao" required placeholder="Digite a descrição do tipo comercial que irá ser exibido na impressão..."></textarea>
						</div>
					</div>

				</div>
			

			</div>

		</div>

		<div class="cadastro-footer margin-top-25">
			<a href="/configuracoes/equipamentos-tipos-comerciais" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
			<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
		</div>


	</form>

</div>