<div class="title-page">
	<div class="row">

		<div class="col-md-8">
			<h1>CFOP's <small>({{ config.total }} registros)</small></h1>
		</div>
		<div class="col-md-4 text-right">
			<a href="/configuracoes/cfops/gerencia" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Cadastrar</a>
		</div>

	</div>
</div>

<div class="box-content">

	<div class="box-subtitle">
		<h2>CFOP's do sistema</h2>
	</div>

	<div class="row">
		<div class="col-md-12">

			<form action="/configuracoes/cfops">

				<div class="form-group margin-bottom-0">
					<label>Filtro</label>
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Descrição ou código do CFOP" name="cfop_term" ng-model="get_filters.cfop_term">
						<div class="input-group-append">
							<button class="btn btn-primary" type="submit"><i class="icon-magnifier icons"></i> Buscar</button>
						</div>
					</div>

					<div ng-if="config.is_search">
						<small>Mostrando {{ config.total }} resultados para "{{ get_filters.cfop_term }}".</small>
						<small><a href="/configuracoes/cfops" target="_self" class="text-danger">Limpar filtro</a></small>
					</div>

				</div>

			</form>

		</div>
	</div>

	<table class="table table-striped margin-top-30">
		<tr>
			<th>CFOP</th>
			<th class="text-center">Cadastrado</th>
			<th></th>
		</tr>
		<tr ng-repeat="(key, val) in results">
			<td>
				<strong>{{ val.cfop_descricao }}</strong><br />
				<small>Código: #{{ val.cfop_codigo }}</small>
			</td>
			<td class="text-center">{{ val.create_timestamp * 1000 | date:"dd/MM/yyyy HH:mm" }}</td>
			<td width="90" class="text-right">
				
				<a href="/configuracoes/cfops/gerencia/{{ val.id }}" class="btn btn-sm btn-warning">
					<i class="fa fa-pencil" aria-hidden="true"></i>
					<div class="btn-tooltip">Editar</div>
				</a>

				<button ng-click="delete_item(val.id)" class="btn btn-sm btn-danger">
					<i class="fa fa-trash-o" aria-hidden="true"></i>
					<div class="btn-tooltip">Excluir</div>
				</button>

			</td>
		</tr>
	</table>

	<!-- pager -->
	<div class="text-center margin-top-30">
		<div aria-label="navigation" ng-if="config.total_pages > 1" class="d-inline-block"
			paginate-navigation 
			data-paginate="paginate"
			data-config="config"
			data-url="/configuracoes/cfops/">
		</div>	
	</div>

</div>