<h1 class="title-page">Alterar senha</h1>

<div class="box-content">

	<form ng-submit="vm.user_change_password()">

		<div class="box-subtitle">
			<h2>Alteração de senha</h2>
		</div>

		<div class="row">

			<div class="col-md-6">

				<div class="form-group">
					<label for="password">Senha atual</label>
					<input type="password" class="form-control" id="password" placeholder="Senha atual" ng-model="user.active_password" required>
				</div>

				<div class="form-group">
					<label for="password-2">Nova senha</label>
					<input type="password" class="form-control" id="password-2" placeholder="Nova senha" ng-model="user.new_password" required>
				</div>

				<div class="form-group">
					<label for="password-3">Confirmação de nova senha</label>
					<input type="password" class="form-control" id="password-3" placeholder="Confirmação de nova senha" ng-model="user.new_password_2" required>
				</div>

			</div>
		</div>

		<div class="cadastro-footer margin-top-25">
			<a href="/usuarios/visualizar-usuario" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
			<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
		</div>


	</form>

</div>