<h1 class="title-page">Gerencia usuário</h1>

<div class="box-content">

	<form ng-submit="vm.setUser()">

		<div class="box-subtitle">
			<h2>Cadastro / edição de usuário</h2>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="form-group">
					<label for="responsavel">Responsável</label>
					<input type="text" class="form-control" id="responsavel" placeholder="Nome completo" ng-model="user.username" required>
				</div>

				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<label for="responsavel">E-mail</label>
							<input type="email" class="form-control" id="email" placeholder="E-mail" ng-model="user.email" required ng-disabled="$state.name == 'edit-usuario'">
						</div>
						
					</div>
					<div class="col-md-6">

						<div class="form-group">
							<label for="cpf">CPF</label>
							<input type="text" class="form-control" id="cpf" placeholder="CPF" ng-model="user.cpf" mask="999.999.999-99" clean="true">
						</div>
												
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<label for="telefone">Telefone</label>
							<input type="text" class="form-control" id="telefone" placeholder="Telefone" ng-model="user.phone1" mask="(99) 9?9999-9999">
						</div>

					</div>
					<div class="col-md-6">

						<div class="form-group">
							<label for="celular">Celular</label>
							<input type="text" class="form-control" id="celular" placeholder="Celular" ng-model="user.phone2" mask="(99) 9?9999-9999">
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<label for="type">Departamento / Permissão</label>
							<select class="form-control" id="type" ng-model="user.permission" ng-disabled="logged_user.id == user.id">
								<option value="master">Master</option>
								<option value="gerencial">Gerencial</option>
								<option value="comercial">Comercial</option>
								<option value="operacional">Operacional</option>
								<option value="expedicao">Expedição</option>
								<option value="faturamento">Faturamento</option>
								<option value="financeiro">Financeiro</option>
								<option value="acerto-contas">Acerto de contas</option>
								<option value="Controladoria">Controladoria</option>
								<option value="qualidade">ISO (qualidade)</option>
								<option value="cadastros">Cadastros</option>
							</select>
						</div>

					</div>
				</div>

			</div>
			<div class="col-md-6" ng-if="$state.name == 'insert-usuario'">

				<div class="form-group">
					<label for="password">Senha</label>
					<input type="password" class="form-control" id="password" placeholder="Senha" ng-model="user.password" required>
				</div>

				<div class="form-group">
					<label for="password2">Confirmação de senha</label>
					<input type="password" class="form-control" id="password2" placeholder="Confirmação de senha" ng-model="user.password2" required>
				</div>

			</div>
		</div>

		<div class="cadastro-footer margin-top-25">
			<a href="/usuarios" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
			<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
		</div>


	</form>

</div>