<div class="title-page">
	<div class="row">

		<div class="col-md-8">
			<h1>Usuários <small>({{ users.config.total }} registros)</small></h1>
		</div>
		<div class="col-md-4 text-right">
			<a href="/usuarios/gerencia" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Cadastrar</a>
		</div>

	</div>
</div>



<div class="box-content">

	<div class="box-subtitle"><h2>Usuários do sistema</h2></div>

	<div class="row">
		<div class="col-md-12">

			<form action="/usuarios">

				<div class="form-group margin-bottom-0">
					<label>Filtro</label>
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Nome do usuário, CPF ou e-mail" name="user_term" ng-model="get_filters.user_term">
						<div class="input-group-append">
							<button class="btn btn-primary" type="submit"><i class="icon-magnifier icons"></i> Buscar</button>
						</div>
					</div>

					<div ng-if="users.config.is_search">
						<small>Mostrando {{ users.config.total }} resultados para "{{ get_filters.user_term }}".</small>
						<small><a href="/usuarios" target="_self" class="text-danger">Limpar filtro</a></small>
					</div>

				</div>

			</form>

		</div>
	</div>

	<table class="table table-striped margin-top-30">
		<tr>
			<th>Usuário</th>
			<th class="text-center">Permissão</th>
			<th class="text-center">Cadastrado</th>
			<th width="130"></th>
			<th width="150"></th>
		</tr>
		<tr ng-repeat="(key, user) in users.results">
			<td>
				<strong>{{ user.username }}</strong> <br />
				<span ng-if="user.person == 'j' && user.cnpj.length > 0">CNPJ: {{ user.cnpj }}<br /></span> 
				<span ng-if="user.person == 'f' && user.cpf.length > 0 ">CPF: {{ user.cpf }}<br /></span> 
				
				{{ user.email }}
			</td>
			<td class="text-capitalize text-center">
				{{ user.permission }}
			</td>
			<td class="text-center">{{ user.create_timestamp * 1000 | date:'dd/MM/yyyy HH:mm' }}</td>
			<td>
				<a href="#" ng-click="open_change_password(user)" class="btn btn-sm"><i class="icon-lock icons"></i> Alterar senha</a>
			</td>
			<td>
				<div class="buttons-capsule">
					<a href="/usuarios/gerencia/{{ user.id }}" class="btn btn-sm btn-warning">Editar</a><button class="btn btn-sm btn-danger" ng-disabled="logged_user.id == user.id" ng-click="delete_user(user.id)">Excluir</button>
				</div>
			</td>
		</tr>

	</table>

	<!-- pager -->
	<div class="text-center margin-top-30">
		<div aria-label="navigation" ng-if="users.config.total_pages > 1" class="d-inline-block">
		    <ul class="pagination">
		        <li ng-class="{disabled:users.config.current_page == 1}" class="page-item">
		            <a href="/usuarios/{{users.config.current_page - 1}}" class="page-link"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		        </li>
		        <li ng-repeat="page in [] | range: users.config.total_pages" ng-class="{active:users.config.current_page == page}" class="page-item">
		            <a href="/usuarios/{{page}}" class="page-link">{{page}}</a>
		        </li>                
		        <li ng-class="{disabled:users.config.current_page == users.config.total_pages}" class="page-item">
		            <a href="/usuarios/{{ users.config.current_page + 1 }}" class="page-link"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
		        </li>
		    </ul>
		</div>
	</div>

</div>