<h1 class="title-page">Visualização de usuário</h1>

<div class="box-content">

	<div class="box-subtitle">
		<h2>Visualização de usuário</h2>
	</div>

	<div class="row">
		<div class="col-md-6">

			<div class="form-group">
				{{ logged_user.person == 'f' ? 'Pessoa física' : 'Pessoa jurídica' }} 
			</div>

			<div class="form-group">
				<label for="responsavel">Responsável</label>
				<p>{{ logged_user.username }}</p>
			</div>

			<div class="row">
				<div class="col-md-6">

					<div class="form-group">
						<label for="responsavel">E-mail</label>
						<p>{{ logged_user.email }}</p>
					</div>
					
				</div>
				<div class="col-md-6">

					<div class="form-group" ng-if="logged_user.person == 'f'">
						<label for="cpf">CPF</label>
						<p>{{ logged_user.cpf }}</p>
					</div>

					<div class="form-group" ng-if="logged_user.person == 'j'">
						<label for="cpf">CNPJ</label>
						<p>{{ logged_user.cnpj }}</p>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-md-6">

					<div class="form-group">
						<label for="telefone">Telefone</label>
						<p>{{ logged_user.phone1 }}</p>
					</div>

				</div>
				<div class="col-md-6">

					<div class="form-group">
						<label for="celular">Celular</label>
						<p>{{ logged_user.phone2 }}</p>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-md-6">

					<div class="form-group">
						<label for="type">Tipo</label>
						<p class="text-capitalize">{{ logged_user.permission }}</p>
					</div>

				</div>
			</div>

		</div>
		
	</div>

	<div class="cadastro-footer margin-top-25">
		<a href="/usuarios/gerencia/{{ logged_user.id }}" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>
	</div>


</div>