<h1 class="title-page">Emitir nota fiscal</h1>

<div class="box-content">

	<form ng-submit="vm.setUser()">

		<div class="box-subtitle">
			<h2>Emissão de nota fiscal de serviço</h2>
		</div>

		<button class="btn btn-primary"><i class="fa fa-cogs" aria-hidden="true"></i> Gerar NF</button>

		<div class="alert alert-success margin-top-25"><i class="fa fa-check" aria-hidden="true"></i> Nota fiscal gerada com sucesso</div>

		<div class="cadastro-footer margin-top-25">
			<a href="/autorizacao-de-servico" class="btn btn-primary"><i class="fa fa-angle-left" aria-hidden="true"></i> Voltar</a>
		</div>


	</form>

</div>