<h1 class="title-page">Gerencia Produto</h1>

<div class="box-content">

	<form ng-submit="vm.setProduto()">

		<div class="box-subtitle">
			<h2>Cadastro / edição de produto</h2>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="row">

					<div class="col-md-12">
						<div class="form-group">
							<label for="nome-produto">Nome do produto</label>
							<input type="text" class="form-control" id="nome-produto" placeholder="Nome do produto" ng-model="produto.produto_name" required>
						</div>
					</div>

				</div>				

			</div>
			<div class="col-md-6">

				<div class="row">

					<div class="col-md-12">
						<div class="form-group">
							<label for="apelido">Observação</label>
							<textarea class="form-control" ng-model="produto.produto_descricao"></textarea>
						</div>
					</div>

				</div>

			</div>

		</div>

		<div class="cadastro-footer margin-top-25">
			<a href="/produtos" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
			<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
		</div>


	</form>

</div>