<h1 class="title-page">Importação de produtos</h1>

<div class="box-content">

	<div class="box-subtitle">
		<h2>Importar produtos do Omie</h2>
	</div>

	<div class="row">
		<div class="col-md-6">

			<button type="button" ng-click="importar()" class="btn btn-success">Iniciar importação</button>

			<div class="card margin-top-30" ng-if="import">
				<div class="card-header">
					<strong>Resultados</strong>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><strong>{{ import.config.total_data }}</strong> Itens encontrados</li>
					<li class="list-group-item text-success"><strong>{{ import.config.count_insert }}</strong> Itens inseridos</li>
					<li class="list-group-item text-danger"><strong>{{ import.config.count_error }}</strong> Itens com erro</li>
					<li class="list-group-item text-warning"><strong>{{ import.config.count_repeats }}</strong> Itens repeatidos na base de dados.</li>
				</ul>
			</div>

		</div>
	</div>

	<div class="cadastro-footer margin-top-25">
		<a href="/produtos" class="btn btn-primary"><i class="icon-arrow-left icons"></i> Voltar</a>
	</div>


</div>