<h1 class="title-page">Importação de produtos</h1>

<div class="box-content">


	<div class="box-subtitle">
		<h2>Importar produtos do Omie</h2>
	</div>

	<div class="row">
		<div class="col-md-6">

			<button type="submit" class="btn btn-success">Iniciar importação</button>

			<p class="margin-top-20 text-success"><strong>1845</strong> produtos foram importados com sucesso.</p>

		</div>
	</div>

	<div class="cadastro-footer margin-top-25">
		<a href="/produtos" class="btn btn-primary"><i class="icon-arrow-left icons"></i> Voltar</a>
	</div>


</div>