<h1 class="title-page">Visualização de produto</h1>

<div class="box-content">

	<form ng-submit="vm.setUser()">

		<div class="box-subtitle">
			<h2>Produto #{{ produto.id }}</h2>
		</div>

		<div class="row">
			<div class="col-md-6">


				<div class="form-group">
					<label for="responsavel">Nome do produto</label>
					<p>{{ produto.produto_name }}</p>
				</div>

				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<label for="responsavel">Descrição</label>
							<p>{{ produto.produto_descricao }}</p>
						</div>
						
					</div>
					<div class="col-md-6">

						<div class="form-group">
							<label for="cpf">Código CEST</label>
							<p>{{ produto.produto_codigo_cest }}</p>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<label for="telefone">Código Omie</label>
							<p>{{ produto.produto_codigo_omie }}</p>
						</div>

					</div>
					<div class="col-md-6">

						<div class="form-group">
							<label for="telefone">Código EAN</label>
							<p>{{ produto.produto_ean }}</p>
						</div>

					</div>
				</div>


				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<label for="telefone">Código NCM</label>
							<p>{{ produto.produto_ncm  }}</p>
						</div>

					</div>
					<div class="col-md-6">

						<div class="form-group">
							<label for="telefone">Unidade</label>
							<p>{{ produto.produto_unidade }}</p>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<label for="type">Origem</label>
							<p class="text-capitalize">{{ produto.produto_origem  }}</p>
						</div>

					</div>

					<div class="col-md-6">

						<div class="form-group">
							<label for="type">Valor</label>
							<p class="text-capitalize">{{ produto.produto_valor | currency  }}</p>
						</div>

					</div>

				</div>

			</div>
			
		</div>

		<div class="cadastro-footer margin-top-25">
			<a href="/produtos" class="btn btn-primary"><i class="icon-arrow-left icons"></i> Voltar</a>
		</div>


	</form>

</div>