<h1 class="title-page">Importação de clientes</h1>

<div class="box-content">

	<div class="box-subtitle">
		<h2>Importar clientes do Omie</h2>
	</div>

	<table class="table table-striped">
		<tr>
			<th>Empresa</th>
			<th class="text-center">Cl. Ativos</th>
			<th class="text-center">Qtd.</th>
			<th class="text-center">Última Import.</th>
			<th></th>
			<th width="120"></th>
		</tr>
		<tr ng-repeat="(key, val) in empresas">
			<td>{{ val.empresa_name }}</td>
			<td class="text-center">{{ val.clientes_ativos }}</td>
			<td class="text-center">{{ val.qtd_importacoes }}</td>
			<td class="text-center">{{ val.last_importacao * 1000 | date:"dd/MM/yyyy HH:mm" }}</td>
			<td class="text-center"><a href="" class="btn btn-sm">Ver histórico</a></td>
			<td class="text-center"><button type="button" ng-click="importar(val)" class="btn btn-sm btn-success"><i class="icon-arrow-down-circle icons"></i> Importar</button></td>
		</tr>
		<tr>
			<th></th>
			<th class="text-center">{{ geral_cliente_ativos }}</th>
			<th class="text-center">{{ geral_qtd }}</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</table>

	<!-- 

	<div class="row">
		<div class="col-md-6">

			<div class="card margin-top-30" ng-if="import">
				<div class="card-header">
					<strong>Resultados</strong>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><strong>{{ import.config.total_data }}</strong> Itens encontrados</li>
					<li class="list-group-item text-success"><strong>{{ import.config.count_insert }}</strong> Itens inseridos</li>
					<li class="list-group-item text-danger"><strong>{{ import.config.count_error }}</strong> Itens com erro</li>
					<li class="list-group-item text-warning"><strong>{{ import.config.count_repeats }}</strong> Itens repeatidos na base de dados.</li>
				</ul>
			</div>

		</div>
	</div>

	-->

	<div class="cadastro-footer margin-top-25">
		<a href="/clientes" class="btn btn-primary"><i class="icon-arrow-left icons"></i> Voltar</a>
	</div>


</div>