<h1 class="title-page">Visualização de cliente</h1>

<div class="box-content">

	<form ng-submit="vm.setUser()">

		<div class="box-subtitle">
			<h2>Cliente #123</h2>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="form-group">
					Pessoa física
				</div>

				<div class="form-group">
					<label for="responsavel">Responsável</label>
					<p>Nome do usuário</p>
				</div>

				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<label for="responsavel">E-mail</label>
							<p>teste@teste.com.br</p>
						</div>
						
					</div>
					<div class="col-md-6">

						<div class="form-group">
							<label for="cpf">CPF</label>
							<p>123.345.678-9</p>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<label for="telefone">Telefone</label>
							<p>(19) 99999-9999</p>
						</div>

					</div>
					<div class="col-md-6">

						<div class="form-group">
							<label for="celular">Celular</label>
							<p>(19) 99999-9999</p>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<label for="type">Tipo</label>
							<p>Administrador</p>
						</div>

					</div>
				</div>

			</div>
			
		</div>

		<div class="cadastro-footer margin-top-25">
			<a href="/clientes" class="btn btn-primary"><i class="icon-arrow-left icons"></i> Voltar</a>
		</div>


	</form>

</div>