<h1 class="title-page">Visualização de local</h1>

<div class="box-content">

	<form ng-submit="vm.setUser()">

		<div class="box-subtitle">
			<h2>Local #123</h2>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="row">

					<div class="col-md-12">
						<div class="form-group">
							<label for="id">Apelido do local</label>
							<p>Exemplo de apelido do local</p>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label for="id">Associar cliente</label>
							<p>Cliente XPTO</p>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">CEP</label>
							<p>13467-000</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Logradouro</label>
							<p>Exemplo de logradouro</p>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Número</label>
							<p>1234</p>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Complemento</label>
							<p>Bloco B</p>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Bairro</label>
							<p>Exemplo de bairro</p>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Cidade</label>
							<p>Exemplo de cidade</p>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Estado</label>
							<p>São Paulo</p>
						</div>
					</div>

				</div>

			</div>
			
		</div>

		<div class="cadastro-footer margin-top-25">
			<a href="/locais" class="btn btn-primary"><i class="icon-arrow-left icons"></i> Voltar</a>
		</div>


	</form>

</div>