<h1 class="title-page">Gerencia AS</h1>

<div class="box-content">

	<form ng-submit="vm.setUser()">

		<div class="box-subtitle">
			<h2>Cadastro / edição de autorização de serviço</h2>
		</div>

		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="geral-tab" data-toggle="tab" href="#geral" role="tab" aria-controls="geral" aria-selected="true">Objeto de carregamento</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="omie-tab" data-toggle="tab" href="#omie" role="tab" aria-controls="omie" aria-selected="false">Complementares</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="acbr-tab" data-toggle="tab" href="#acbr" role="tab" aria-controls="acbr" aria-selected="false">Veiculos / Motoristas</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="logs-tab" data-toggle="tab" href="#logs" role="tab" aria-controls="logs" aria-selected="false">Container (retirada / devolução)</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="logs-tab" data-toggle="tab" href="#logs" role="tab" aria-controls="logs" aria-selected="false">Notificações da AS</a>
			</li>
		</ul>

		<div class="tab-content margin-top-25" id="myTabContent">
			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				<p>Em construção</p>
			</div>
			<div class="tab-pane fade" id="omie" role="tabpanel" aria-labelledby="omie-tab">
				<p>Em construção</p>
			</div>
			<div class="tab-pane fade" id="acbr" role="tabpanel" aria-labelledby="acbr-tab">
				<p>Em construção</p>
			</div>
			<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="logs-tab">
				<p>Em construção</p>
			</div>
		</div>

		<div class="cadastro-footer margin-top-25">
			<a href="/autorizacao-de-servico" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
			<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
		</div>


	</form>

</div>