<h1 class="title-page">Gerencia AS</h1>

<div class="box-content">

	<form ng-submit="vm.setUser()">

		<div class="box-subtitle">
			<h2>Cadastro / edição de autorização de serviço</h2>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Código</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="id">Cliente (n. fantasia)</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label for="id">Contato</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label for="id">E-mail</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Celular 1 / WhatsApp</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Celular 2</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Telefone Fixo</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Ramal</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
				</div>

			</div>
			<div class="col-md-6">

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Filial</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Status</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Data de cadastro</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Vendedor</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

				</div>

				<div class="row margin-top-55">

					<div class="col-md-8">
						<div class="form-group">
							<label for="id">Projeto (Apelido)</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label for="id">Cód. Cotação</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					
					<div class="col-md-12">
						<div class="form-group">
							<label for="id">Resumo do projeto</label>
							<textarea class="form-control"></textarea>
						</div>
					</div>


				</div>

				

			</div>
		</div>

		<hr class="margin-top-40 margin-bottom-40"/>

		<div class="form-group">
			<label for="id">Cliente Tomador do Serviço</label>
			<div class="row">
				<div class="col-md-2">
					<input type="radio" name=""> Remente
				</div>
				<div class="col-md-2">
					<input type="radio" name=""> Distinatário
				</div>
				<div class="col-md-2">
					<input type="radio" name=""> Consignatário
				</div>
			</div>
		</div>



		<hr class="margin-top-40 margin-bottom-40"/>

		<div class="row">
			<div class="col-md-4">

				<div class="form-group">
					<label for="id">Cliente remetente:</label>
					<input type="text" class="form-control" id="id">
				</div>

				<table class="table">
					<tr>
						<th width="120">CNPJ:</th>
						<td>00.000.000/000-00</td>
					</tr>
					<tr>
						<th>Ins. Estadual:</th>
						<td>000.000.000.000</td>
					</tr>
					<tr>
						<th>Endereço</th>
						<td>Rua / Avenida / etc...	Bairro	Cidade - UF	CEP</td>
					</tr>
					<tr>
						<th>Contato:</th>
						<td>Responsável - Faturamento	
						Depto.	
						Telefone 1	
						Telefone 2	
						Celular 1 	
						Celular 2	
						Email	
						</td>
					</tr>
				</table>
				
			</div>

			<div class="col-md-4">

				<div class="form-group">
					<label for="id">Cliente destinatário:</label>
					<input type="text" class="form-control" id="id">
				</div>

				<table class="table">
					<tr>
						<th width="120">CNPJ:</th>
						<td>00.000.000/000-00</td>
					</tr>
					<tr>
						<th>Ins. Estadual:</th>
						<td>000.000.000.000</td>
					</tr>
					<tr>
						<th>Endereço</th>
						<td>Rua / Avenida / etc...	Bairro	Cidade - UF	CEP</td>
					</tr>
					<tr>
						<th>Contato:</th>
						<td>Responsável - Faturamento	
						Depto.	
						Telefone 1	
						Telefone 2	
						Celular 1 	
						Celular 2	
						Email	
						</td>
					</tr>
				</table>
				
			</div>

			<div class="col-md-4">

				<div class="form-group">
					<label for="id">Cliente Consignatário:</label>
					<input type="text" class="form-control" id="id">
				</div>

				<table class="table">
					<tr>
						<th width="120">CNPJ:</th>
						<td>00.000.000/000-00</td>
					</tr>
					<tr>
						<th>Ins. Estadual:</th>
						<td>000.000.000.000</td>
					</tr>
					<tr>
						<th>Endereço</th>
						<td>Rua / Avenida / etc...	Bairro	Cidade - UF	CEP</td>
					</tr>
					<tr>
						<th>Contato:</th>
						<td>Responsável - Faturamento	
						Depto.	
						Telefone 1	
						Telefone 2	
						Celular 1 	
						Celular 2	
						Email	
						</td>
					</tr>
				</table>
				
			</div>

		</div>

		<hr class="margin-top-40 margin-bottom-40"/>

		<div class="row">
			<div class="col-md-4">

				<div class="form-group">
					<div class="row">
						<div class="col-md-6">
							<label for="id">Local de coleta:</label>
						</div>
						<div class="col-md-6 text-right">
							<input type="checkbox" name=""> Exterior
						</div>
					</div>
					<input type="text" class="form-control" id="id">
				</div>

				<table class="table">
					<tr>
						<th width="120">CNPJ:</th>
						<td>00.000.000/000-00</td>
					</tr>
					<tr>
						<th>Ins. Estadual:</th>
						<td>000.000.000.000</td>
					</tr>
					<tr>
						<th>Endereço</th>
						<td>Rua / Avenida / etc...	Bairro	Cidade - UF	CEP</td>
					</tr>
					<tr>
						<th>Contato:</th>
						<td>Responsável - Faturamento	
						Depto.	
						Telefone 1	
						Telefone 2	
						Celular 1 	
						Celular 2	
						Email	
						</td>
					</tr>
				</table>

				<div class="form-group">
					<label for="id">Procurar por:</label>
					<input type="text" class="form-control" id="id">
				</div>

			</div>
			<div class="col-md-4">

				<div class="form-group">
					<div class="row">
						<div class="col-md-6">
							<label for="id">Local da entrega:</label>
						</div>
						<div class="col-md-6 text-right">
							<input type="checkbox" name=""> Exterior
						</div>
					</div>
					<input type="text" class="form-control" id="id">
				</div>

				<table class="table">
					<tr>
						<th width="120">CNPJ:</th>
						<td>00.000.000/000-00</td>
					</tr>
					<tr>
						<th>Ins. Estadual:</th>
						<td>000.000.000.000</td>
					</tr>
					<tr>
						<th>Endereço</th>
						<td>Rua / Avenida / etc...	Bairro	Cidade - UF	CEP</td>
					</tr>
					<tr>
						<th>Contato:</th>
						<td>Responsável - Faturamento	
						Depto.	
						Telefone 1	
						Telefone 2	
						Celular 1 	
						Celular 2	
						Email	
						</td>
					</tr>
				</table>

				<div class="form-group">
					<label for="id">Procurar por:</label>
					<input type="text" class="form-control" id="id">
				</div>

			</div>
			<div class="col-md-4">

				<div class="form-group">
					<label for="id">Observações para o Operacional</label>
					<textarea class="form-control"></textarea>
				</div>

				<div class="form-group">
					<label for="id">Previsão de Coleta:</label>
					<input type="text" class="form-control" id="id">
				</div>

				<div class="form-group">
					<label for="id">Previsão de Entrega:</label>
					<input type="text" class="form-control" id="id">
				</div>

				<div class="form-group">
					<label for="id">Equipamento a ser utilizado</label>
					<textarea class="form-control"></textarea>
				</div>

				<div class="form-group">
					<label for="id">Emitido</label>
					<div class="row">
						<div class="col-md-4">
							<input type="checkbox" name=""> Licença
						</div>
						<div class="col-md-4">
							<input type="checkbox" name=""> Viabilização
						</div>
						<div class="col-md-4">
							<input type="checkbox" name=""> Ser. Rigging
						</div>
						<div class="col-md-4">
							<input type="checkbox" name=""> Taxas
						</div>
						<div class="col-md-4">
							<input type="checkbox" name=""> Instrumentação
						</div>
						<div class="col-md-4">
							<input type="checkbox" name=""> Ser. escolta
						</div>
					</div>
				</div>

			</div>
		</div>

		<hr class="margin-top-40 margin-bottom-40" />

		<div class="row">
			<div class="col-md-4">

				<div class="form-group">
					<label for="id">Faturamento</label>
					<input type="text" class="form-control" id="id">
				</div>

				<table class="table">
					<tr>
						<th width="120">CNPJ:</th>
						<td>00.000.000/000-00</td>
					</tr>
					<tr>
						<th>Ins. Estadual:</th>
						<td>000.000.000.000</td>
					</tr>
					<tr>
						<th>Endereço</th>
						<td>Rua / Avenida / etc...	Bairro	Cidade - UF	CEP</td>
					</tr>
					<tr>
						<th>Contato:</th>
						<td>Responsável - Faturamento	
						Depto.	
						Telefone 1	
						Telefone 2	
						Celular 1 	
						Celular 2	
						Email	
						</td>
					</tr>
				</table>

				<div class="form-group">
					<label for="id">Forma de Faturamento</label>
				

					<div class="row">
						<div class="col-md-4">
							<input type="radio"> CT-e
						</div>
						<div class="col-md-4">
							<input type="radio"> NFE
						</div>
						<div class="col-md-4">
							<input type="radio"> Fatura
						</div>
						<div class="col-md-4">
							<input type="radio"> NFS
						</div>
						<div class="col-md-4">
							<input type="radio"> ND
						</div>
						<div class="col-md-4">
							<input type="radio"> Outros
						</div>
					</div>

				</div>

				<div class="form-group">
					<label for="id">No. Pedido de Compra</label>
					<input type="text" class="form-control" id="id">
				</div>

				<div class="form-group">
					<label for="id">Forma de Pagamento</label>
				
					<div class="row">
						<div class="col-md-3">
							<input type="radio"> Boleto
						</div>
						<div class="col-md-4">
							<input type="radio"> Depósito
						</div>
						<div class="col-md-5">
							<input type="radio"> Compensação
						</div>
					</div>

				</div>

				<div class="form-group">
					<label for="id">Prazo de pagamento</label>
					<input type="text" class="form-control" id="id">
				</div>

			</div>
			<div class="col-md-4">

				<div class="form-group">
					<label for="id">Inclusos no Preço</label>

					<div class="row">
						<div class="col-md-6">
							<input type="checkbox" name=""> ICMS 10%
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="row margin-top-5">
						<div class="col-md-6">
							<input type="checkbox" name=""> ISS
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="row margin-top-5">
						<div class="col-md-6">
							<input type="checkbox" name=""> INSS
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="row margin-top-5">
						<div class="col-md-6">
							<input type="checkbox" name=""> IR
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="row margin-top-5">
						<div class="col-md-6">
							<input type="checkbox" name=""> PIS
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="row margin-top-5">
						<div class="col-md-6">
							<input type="checkbox" name=""> COFINS
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="row margin-top-5">
						<div class="col-md-6">
							<input type="checkbox" name=""> CSLL
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="row margin-top-5">
						<div class="col-md-6">
							<input type="checkbox" name=""> CP
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="row margin-top-5">
						<div class="col-md-6">
							<input type="checkbox" name=""> Seguro
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="row margin-top-5">
						<div class="col-md-6">
							<input type="checkbox" name=""> RCFDC
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="row margin-top-5">
						<div class="col-md-6">
							<input type="checkbox" name=""> RCTRC Sec/Ca
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="row margin-top-5">
						<div class="col-md-6">
							<input type="checkbox" name=""> Despacho
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="row margin-top-5">
						<div class="col-md-6">
							<input type="checkbox" name=""> Carga
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="row margin-top-5">
						<div class="col-md-6">
							<input type="checkbox" name=""> Descarga
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="row margin-top-5">
						<div class="col-md-6">
							<input type="checkbox" name=""> Estadia
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="row margin-top-5">
						<div class="col-md-6">
							<input type="checkbox" name=""> Pernoite
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="row margin-top-5">
						<div class="col-md-6">
							<input type="checkbox" name=""> Armazengem
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="row margin-top-5">
						<div class="col-md-6">
							<input type="checkbox" name=""> Ad valorem
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control">
						</div>
					</div>

				</div>

				<div class="form-group">
					<label for="id">Observações para o Faturamento</label>
					<textarea class="form-control"></textarea>
				</div>

				<div class="form-group">
					<label for="id">Data do Faturamento:</label>
					<input type="text" class="form-control" id="id">
				</div>

				<div class="form-group">
					<label for="id">Data do envio:</label>
					<input type="text" class="form-control" id="id">
				</div>


				
			</div>
			<div class="col-md-4">
				
				<div class="form-group">
					<label for="id">Cobrança</label>
					<input type="text" class="form-control" id="id">
				</div>

				<table class="table">
					<tr>
						<th width="120">CNPJ:</th>
						<td>00.000.000/000-00</td>
					</tr>
					<tr>
						<th>Ins. Estadual:</th>
						<td>000.000.000.000</td>
					</tr>
					<tr>
						<th>Endereço</th>
						<td>Rua / Avenida / etc...	Bairro	Cidade - UF	CEP</td>
					</tr>
					<tr>
						<th>Contato:</th>
						<td>Responsável - Faturamento	
						Depto.	
						Telefone 1	
						Telefone 2	
						Celular 1 	
						Celular 2	
						Email	
						</td>
					</tr>
				</table>

				<div class="form-group">
					<label for="id">Observações para o Financeiro</label>
					<textarea class="form-control"></textarea>
				</div>

				<div class="form-group">
					<label for="id">Titulos em aberto</label>
					
					<table class="table">
						<tr>
							<th>Título</th>
							<th>AS</th>
							<th>Venc.</th>
							<th>Valor</th>
							<th>ST</th>
						</tr>
						<tr>
							<td>Exemplo</td>
							<td>Exemplo</td>
							<td>Exemplo</td>
							<td>Exemplo</td>
							<td>Exemplo</td>
						</tr>

						<tr>
							<td>Exemplo</td>
							<td>Exemplo</td>
							<td>Exemplo</td>
							<td>Exemplo</td>
							<td>Exemplo</td>
						</tr>

						<tr>
							<td>Exemplo</td>
							<td>Exemplo</td>
							<td>Exemplo</td>
							<td>Exemplo</td>
							<td>Exemplo</td>
						</tr>
						<tr>
							<td>Exemplo</td>
							<td>Exemplo</td>
							<td>Exemplo</td>
							<td>Exemplo</td>
							<td>Exemplo</td>
						</tr>
					</table>


				</div>

			</div>
		</div>

		<div class="box-subtitle">
			<h2>Objeto de carregamento</h2>
		</div>

		<table class="table table-striped">
			<tr>
				<th>Item</th>
				<th>Qtd.</th>
				<th>Descrição</th>
				<th>Origem</th>
				<th>Destino</th>
				<th>KM</th>
				<th>Comp. (m)</th>
				<th>Larg. (m)</th>
				<th>Alt. (m)</th>
				<th>Peso. (kg)</th>
				<th>Equipamento (tipo)</th>
				<th>NFS</th>
			</tr>
			<tr>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
			</tr>

			<tr>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
			</tr>

			<tr>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
			</tr>

			<tr>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
				<td>Exemplo</td>
			</tr>

		</table>

		<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Adicionar</button>

		<hr class="margin-top-40 margin-bottom-20" />

		<div class="form-group">
			<label for="id">Condições Comerciais Adcionais</label>
			<textarea class="form-control"></textarea>
		</div>

		<hr class="margin-top-40 margin-bottom-40" />

		<div class="box-subtitle">
			<h2>Controles internos</h2>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="card">
					<div class="card-body">

						<h3>RV´s EMITIDAS - CUSTO</h3>

						<table class="table table-striped">
							<tr>
								<th>RV</th>
								<th>Colaborador</th>
								<th>Data</th>
								<th>Total</th>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th>12345</th>
							</tr>
						</table>

					</div>
				</div>

			</div>
			<div class="col-md-6">

				<div class="row">
					<div class="col-md-4 text-right">
						<strong>Total faturado:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="row margin-top-5">
					<div class="col-md-4 text-right">
						<strong>Impostos:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="row margin-top-5">
					<div class="col-md-4 text-right">
						<strong>Seguro:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="row margin-top-5">
					<div class="col-md-4 text-right">
						<strong>Custos:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="row margin-top-5">
					<div class="col-md-4 text-right">
						<strong>Despesas:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="row margin-top-5">
					<div class="col-md-4 text-right">
						<strong>Comissão:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="row margin-top-25">
					<div class="col-md-4 text-right">
						<strong>Resultado:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>


			</div>
		</div>

		<div class="row margin-top-40">
			<div class="col-md-6">

				<div class="card">
					<div class="card-body">

						<h3>RV´s EMITIDAS - COMBUSTÍVEL & PEDÁGIO - CUSTO</h3>

						<table class="table table-striped">
							<tr>
								<th>RV</th>
								<th>Frota</th>
								<th>Colaborador</th>
								<th>Data</th>
								<th>Total</th>
							</tr>
							<tr>
								<td>12345</td>
								<td>Frota</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Frota</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Frota</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th>12345</th>
							</tr>
						</table>

					</div>
				</div>

			</div>
			<div class="col-md-6">

				<div class="card">
					<div class="card-body">

						<h3>TAXAS / LICENÇAS / ESCOLTAS - CUSTO OPERACIONAL</h3>

						<table class="table table-striped">
							<tr>
								<th>AET</th>
								<th>Fornecedor</th>
								<th>Data</th>
								<th>Total</th>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th>12345</th>
							</tr>
						</table>

					</div>
				</div>

			</div>
		</div>

		<div class="row margin-top-40">
			<div class="col-md-6">

				<div class="card">
					<div class="card-body">

						<h3>FINANCEIRO - DESPESAS</h3>

						<table class="table table-striped">
							<tr>
								<th>NFS</th>
								<th>Fornecedor</th>
								<th>Data</th>
								<th>Total</th>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th>12345</th>
							</tr>
						</table>

					</div>
				</div>

			</div>
			<div class="col-md-6">

				<div class="card">
					<div class="card-body">

						<h3>OBSERVAÇÕES INTERNAS</h3>

						<table class="table table-striped">
							<tr>
								<th>Data</th>
								<th>Responsável</th>
								<th>Observação</th>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
							</tr>
						</table>

					</div>
				</div>

			</div>
		</div>

		<div class="cadastro-footer margin-top-25">
			<a href="/autorizacao-de-servico" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
			<button type="submit" class="btn btn-primary"><i class="fa fa-print" aria-hidden="true"></i> Imprimir</button>
			<button type="submit" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Criar revisão</button>
			<button type="submit" class="btn btn-primary"><i class="fa fa-clone" aria-hidden="true"></i> Duplicar</button>
			<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
		</div>


	</form>

</div>