<div class="title-page">
	<div class="row">

		<div class="col-md-8">
			<h1>Autorização de serviço <small>(987 registros)</small></h1>
		</div>
		<div class="col-md-4 text-right">
			<a href="/autorizacao-de-servico/gerencia" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Cadastrar</a>
		</div>

	</div>
</div>

<div class="box-content">

	<div class="box-subtitle">
		<h2>AS's do sistema</h2>
	</div>

	<div class="row">
		<div class="col-md-12">

			<div class="form-group margin-bottom-0">
				<label>Filtro</label>
				<input type="text" class="form-control" placeholder="Busca de A.S." ng-model="search_field">
			</div>

		</div>


	</div>

	<table class="table margin-top-30 margin-bottom-80">
		<tr>
			<td>
				<strong>Exemplo de autorização de serviço</strong><br />
				<small>Código: #123</small>
			</td>
			<td>Projeto 123</td>
			<td><small>Cadastrado em 10/06/2018</small></td>
			<td width="280" class="text-right">
				<div class="dropdown">
					<button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Opções
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Ordem de coleta</a>
						<a class="dropdown-item" href="#">Ordem de serviço</a>
						<a class="dropdown-item" href="#">Nota fiscal de serviço</a>
						<a class="dropdown-item" href="#">CT-e</a>
					</div>

					<a href="/autorizacao-de-servico/visualizar" class="btn btn-primary btn-sm">Visualizar</a>

					<a href="/autorizacao-de-servico/gerencia" class="btn btn-sm btn-warning">Editar</a>

				</div>				
			</td>
		</tr>
		<tr>
			<td>
				<strong>Exemplo de autorização de serviço</strong><br />
				<small>Código: #123</small>
			</td>
			<td>Projeto 123</td>
			<td><small>Cadastrado em 10/06/2018</small></td>
			<td width="280" class="text-right">
				<div class="dropdown">
					<button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Opções
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Ordem de coleta</a>
						<a class="dropdown-item" href="#">Ordem de serviço</a>
						<a class="dropdown-item" href="#">Nota fiscal de serviço</a>
						<a class="dropdown-item" href="#">CT-e</a>
					</div>

					<a href="/autorizacao-de-servico/visualizar" class="btn btn-primary btn-sm">Visualizar</a>

					<a href="/autorizacao-de-servico/gerencia" class="btn btn-sm btn-warning">Editar</a>

				</div>				
			</td>
		</tr>

		<tr>
			<td>
				<strong>Exemplo de autorização de serviço</strong><br />
				<small>Código: #123</small>
			</td>
			<td>Projeto 123</td>
			<td><small>Cadastrado em 10/06/2018</small></td>
			<td width="280" class="text-right">
				<div class="dropdown">
					<button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Opções
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Ordem de coleta</a>
						<a class="dropdown-item" href="#">Ordem de serviço</a>
						<a class="dropdown-item" href="#">Nota fiscal de serviço</a>
						<a class="dropdown-item" href="#">CT-e</a>
					</div>

					<a href="/autorizacao-de-servico/visualizar" class="btn btn-primary btn-sm">Visualizar</a>

					<a href="/autorizacao-de-servico/gerencia" class="btn btn-sm btn-warning">Editar</a>

				</div>				
			</td>
		</tr>

		<tr>
			<td>
				<strong>Exemplo de autorização de serviço</strong><br />
				<small>Código: #123</small>
			</td>
			<td>Projeto 123</td>
			<td><small>Cadastrado em 10/06/2018</small></td>
			<td width="280" class="text-right">
				<div class="dropdown">
					<button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Opções
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Ordem de coleta</a>
						<a class="dropdown-item" href="#">Ordem de serviço</a>
						<a class="dropdown-item" href="#">Nota fiscal de serviço</a>
						<a class="dropdown-item" href="#">CT-e</a>
					</div>

					<a href="/autorizacao-de-servico/visualizar" class="btn btn-primary btn-sm">Visualizar</a>

					<a href="/autorizacao-de-servico/gerencia" class="btn btn-sm btn-warning">Editar</a>

				</div>				
			</td>
		</tr>

		<tr>
			<td>
				<strong>Exemplo de autorização de serviço</strong><br />
				<small>Código: #123</small>
			</td>
			<td>Projeto 123</td>
			<td><small>Cadastrado em 10/06/2018</small></td>
			<td width="280" class="text-right">
				<div class="dropdown">
					<button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Opções
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Ordem de coleta</a>
						<a class="dropdown-item" href="#">Ordem de serviço</a>
						<a class="dropdown-item" href="#">Nota fiscal de serviço</a>
						<a class="dropdown-item" href="#">CT-e</a>
					</div>

					<a href="/autorizacao-de-servico/visualizar" class="btn btn-primary btn-sm">Visualizar</a>

					<a href="/autorizacao-de-servico/gerencia" class="btn btn-sm btn-warning">Editar</a>

				</div>				
			</td>
		</tr>

		<tr>
			<td>
				<strong>Exemplo de autorização de serviço</strong><br />
				<small>Código: #123</small>
			</td>
			<td>Projeto 123</td>
			<td><small>Cadastrado em 10/06/2018</small></td>
			<td width="280" class="text-right">
				<div class="dropdown">
					<button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Opções
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Ordem de coleta</a>
						<a class="dropdown-item" href="#">Ordem de serviço</a>
						<a class="dropdown-item" href="#">Nota fiscal de serviço</a>
						<a class="dropdown-item" href="#">CT-e</a>
					</div>

					<a href="/autorizacao-de-servico/visualizar" class="btn btn-primary btn-sm">Visualizar</a>

					<a href="/autorizacao-de-servico/gerencia" class="btn btn-sm btn-warning">Editar</a>

				</div>				
			</td>
		</tr>
		
	</table>

	<hr />

</div>