<h1 class="title-page">Gerencia motorista</h1>

<div class="box-content">

	<form ng-submit="vm.setUser()">

		<div class="box-subtitle">
			<h2>Cadastro / edição de motorista</h2>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="row">

					<div class="col-md-3">
						<input type="radio"> Colaborador
					</div>
					<div class="col-md-3">
						<input type="radio"> Terceirizado
					</div>

				</div>

				<div class="row margin-top-30">
			

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Filial</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Nome</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">CPF</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Data de nascimento</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Idade</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">CNH</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Categoria</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Validade</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">RG</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Nº Cartão pancary</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">V. exam. tox.</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Celular 1</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Celular 2/Fixo</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Nextel (ID Rádio)</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">V. exam. RH</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Endereço residêncial</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Cidade</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Estado</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Observações do cadastro</label>
							<textarea class="form-control"></textarea>
						</div>
					</div>

				</div>


				<div class="box-subtitle margin-top-30">
					<h2>Dados bancários (terceirizados)</h2>
				</div>


				<div class="row">

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Banco</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Agência</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">C. Corrente</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">CPF</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Nominal</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

				</div>


			</div>
			<div class="col-md-6">

				<div class="row">

					<div class="col-md-4">
						<input type="checkbox"> NR10
					</div>
					<div class="col-md-4">
						<input type="checkbox"> NR35
					</div>

					<div class="col-md-4">
						<input type="checkbox"> CI - C. Indivis.
					</div>

					<div class="col-md-4">
						<input type="checkbox"> CODESP
					</div>

					<div class="col-md-4">
						<input type="checkbox"> Credenciado
					</div>

					<div class="col-md-4">
						<input type="checkbox"> Vale pedágio
					</div>

					<div class="col-md-4">
						<input type="checkbox"> CIOT
					</div>

				</div>


				<div class="box-subtitle margin-top-30">
					<h2>Status em viagem</h2>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Data de saída</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Motorista</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">RV</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">CTRC</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="id">AS</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Cliente</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="id">UF Dest.</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

				</div>


			</div>
		</div>

		<div class="row">
			<div class="col-md-12">

				<div class="box-subtitle margin-top-30">
					<h2>Histórico de viagens concluídas</h2>
				</div>

				<p>Em construção</p>

				<!-- 

				<div class="row">
					<div class="col-md-2">
						<div class="form-group">
							<label for="id">Data de saída</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="id">Data de retorno</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="id">Motorista</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="id">AS</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="id">UF Origem</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="id">UF Destino</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-2">
						<div class="form-group">
							<label for="id">Data de saída</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="id">Data de retorno</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="id">Motorista</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="id">AS</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="id">UF Origem</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="id">UF Destino</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-2">
						<div class="form-group">
							<label for="id">Data de saída</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="id">Data de retorno</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="id">Motorista</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="id">AS</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="id">UF Origem</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="id">UF Destino</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
				</div>

				-->


			</div>
		</div>

		<div class="cadastro-footer margin-top-25">
			<a href="/motoristas" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
			<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
		</div>


	</form>

</div>