<div class="title-page">
	<div class="row">

		<div class="col-md-8">
			<h1>Motoristas <small>(645 registros)</small></h1>
		</div>
		<div class="col-md-4 text-right">
			<a href="/motoristas/gerencia" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Cadastrar</a>
		</div>

	</div>
</div>

<div class="box-content">

	<div class="box-subtitle">
		<h2>Motoristas do sistema</h2>
	</div>

	<div class="row">
		<div class="col-md-12">

			<div class="form-group margin-bottom-0">
				<label>Filtro</label>
				<input type="text" class="form-control" placeholder="Busca de motorista" ng-model="search_field">
			</div>

		</div>


	</div>

	<table class="table margin-top-30">
		<tr>
			<td>
				<strong>Exemplo de motorista</strong><br />
				<small>Código: #123</small>
			</td>
			<td><small>Cadastrado em 10/06/2018</small></td>
			<td width="220">
				<div class="buttons-capsule">
					<a href="/motoristas/visualizar" class="btn btn-sm btn-primary">Visualizar</a><a href="/motoristas/gerencia" class="btn btn-sm btn-warning">Editar</a><button href="#" class="btn btn-sm btn-danger">Excluir</button>
				</div>
			</td>
		</tr>

		<tr>
			<td>
				<strong>Exemplo de motorista</strong><br />
				<small>Código: #123</small>
			</td>
			<td><small>Cadastrado em 10/06/2018</small></td>
			<td width="220">
				<div class="buttons-capsule">
					<a href="/motoristas/visualizar" class="btn btn-sm btn-primary">Visualizar</a><a href="/motoristas/gerencia" class="btn btn-sm btn-warning">Editar</a><button href="#" class="btn btn-sm btn-danger">Excluir</button>
				</div>
			</td>
		</tr>

		<tr>
			<td>
				<strong>Exemplo de motorista</strong><br />
				<small>Código: #123</small>
			</td>
			<td><small>Cadastrado em 10/06/2018</small></td>
			<td width="220">
				<div class="buttons-capsule">
					<a href="/motoristas/visualizar" class="btn btn-sm btn-primary">Visualizar</a><a href="/motoristas/gerencia" class="btn btn-sm btn-warning">Editar</a><button href="#" class="btn btn-sm btn-danger">Excluir</button>
				</div>
			</td>
		</tr>

		<tr>
			<td>
				<strong>Exemplo de motorista</strong><br />
				<small>Código: #123</small>
			</td>
			<td><small>Cadastrado em 10/06/2018</small></td>
			<td width="220">
				<div class="buttons-capsule">
					<a href="/motoristas/visualizar" class="btn btn-sm btn-primary">Visualizar</a><a href="/motoristas/gerencia" class="btn btn-sm btn-warning">Editar</a><button href="#" class="btn btn-sm btn-danger">Excluir</button>
				</div>
			</td>
		</tr>

		<tr>
			<td>
				<strong>Exemplo de motorista</strong><br />
				<small>Código: #123</small>
			</td>
			<td><small>Cadastrado em 10/06/2018</small></td>
			<td width="220">
				<div class="buttons-capsule">
					<a href="/motoristas/visualizar" class="btn btn-sm btn-primary">Visualizar</a><a href="/motoristas/gerencia" class="btn btn-sm btn-warning">Editar</a><button href="#" class="btn btn-sm btn-danger">Excluir</button>
				</div>
			</td>
		</tr>
		
	</table>

</div>