<div class="title-page">
	<h1>Textos padrões / Cotações</h1>
</div>

<div class="box-content">

	<div class="box-subtitle">
		<h2>Textos padrões na tela de cadastro de cotação</h2>
	</div>

	<div class="row">
		<div class="col-md-8">

			<div class="card">
				<div class="card-body">

					<form ng-submit="save_texto_padrao('cotacao_objeto_operacao')">

						<h3>Escopo da operação</h3>
						<textarea class="form-control" placeholder="Digite o texto padrão aqui..." ng-model="textos.cotacao_objeto_operacao"></textarea>

						<div class="text-right margin-top-15">
							<button class="btn btn-success" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
						</div>

					</form>

				</div>
			</div>

		</div>
	</div>

	<div class="row margin-top-30">
		<div class="col-md-8">

			<div class="card">
				<div class="card-body">

					<form ng-submit="save_texto_padrao('cotacao_carga_descarga')">

						<h3>Carga e descarga</h3>
						<textarea class="form-control" placeholder="Digite o texto padrão aqui..." ng-model="textos.cotacao_carga_descarga"></textarea>

						<div class="text-right margin-top-15">
							<button class="btn btn-success" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
						</div>

					</form>

				</div>
			</div>

		</div>
	</div>

	<div class="row margin-top-30">
		<div class="col-md-8">

			<div class="card">
				<div class="card-body">
				
					<form ng-submit="save_texto_padrao('cotacao_carencia')">

						<h3>Carência / estadia</h3>
						<textarea class="form-control" placeholder="Digite o texto padrão aqui..." ng-model="textos.cotacao_carencia"></textarea>

						<div class="text-right margin-top-15">
							<button class="btn btn-success" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
						</div>

					</form>

				</div>
			</div>

		</div>
	</div>

	<div class="row margin-top-30">
		<div class="col-md-8">

			<div class="card">
				<div class="card-body">

					<form ng-submit="save_texto_padrao('cotacao_prazo_execucao')">

						<h3>Prazo de execução</h3>
						<textarea class="form-control" placeholder="Digite o texto padrão aqui..." ng-model="textos.cotacao_prazo_execucao"></textarea>

						<div class="text-right margin-top-15">
							<button class="btn btn-success" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
						</div>

					</form>

				</div>
			</div>

		</div>
	</div>

	<div class="row margin-top-30">
		<div class="col-md-8">

			<div class="card">
				<div class="card-body">

					<form ng-submit="save_texto_padrao('cotacao_observacoes_finais')">

						<h3>Considerações finais</h3>
						<textarea class="form-control" placeholder="Digite o texto padrão aqui..." ng-model="textos.cotacao_observacoes_finais"></textarea>

						<div class="text-right margin-top-15">
							<button class="btn btn-success" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
						</div>

					</form>
				</div>
			</div>

		</div>
	</div>


</div>