<h1 class="title-page">Gerencia cotação</h1>

<div class="box-content">

	<form ng-submit="vm.setCotacao()">

		<div class="box-subtitle">
			<h2>Cadastro / edição de cotação</h2>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="row">

					<div class="col-md-12">
						<div class="form-group">
							<label for="filial">Filial</label>
							<select class="form-control" name="id_empresa" ng-model="cotacao.id_empresa" ng-change="empresa_change()">
								<option value="0">Selecionar...</option>
								<option ng-repeat="(key, val) in empresas" value="{{ val.id }}" data-prefixo="{{ val.empresa_prefixo }}">{{ val.empresa_name }}</option>
							</select>
						</div>
					</div>

					<div class="col-md-8">
						<div class="form-group">
							<label for="codigo">Código</label>
							<input type="text" class="form-control" id="codigo" placeholder="Código" ng-model="cotacao.cotacao_code" ng-readonly="cotacao.id_empresa == '0' || $state.name == 'update-cotacao'" required>
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label for="revisao">Revisão</label>
							<input type="text" class="form-control" id="revisao" placeholder="Revisão" ng-model="cotacao.cotacao_revisao" readonly>
						</div>
					</div>

					<div class="col-md-7">
						<div class="form-group">
							<label for="cliente">Cliente</label>
							<div class="input-group">
								<input type="text" class="form-control" id="cliente" placeholder="Selecione um cliente..." ng-model="cotacao.cotacao_cliente_nome" readonly>
								<div class="input-group-append">
									<button class="btn btn-primary" type="button" ng-click="open_choose_cliente('main_cliente')"><i class="icon-magnifier icons"></i></button>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-5">
						<div class="form-group">
							<label for="status-cadastro">Status de cadastro</label>
							<input type="text" class="form-control" id="status-cadastro" placeholder="Status de cadastro" ng-model="cotacao.cotacao_status_cadastro">
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label for="contato">Contato</label>
							<input type="text" class="form-control" id="contato" placeholder="Contato" ng-model="cotacao.cotacao_contato">
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label for="email">E-mail</label>
							<input type="text" class="form-control" id="email" placeholder="E-mail" ng-model="cotacao.cotacao_email">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="celular-1">Celular 1</label>
							<input type="text" class="form-control" id="celular-1" placeholder="Celular 1" ng-model="cotacao.cotacao_phone_01" mask="(99) 9?9999-9999">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="celular-2">Celular 2</label>
							<input type="text" class="form-control" id="celular-2" placeholder="Celular 2" ng-model="cotacao.cotacao_phone_02" mask="(99) 9?9999-9999">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="telefone">Telefone</label>
							<input type="text" class="form-control" id="telefone" placeholder="Telefone" ng-model="cotacao.cotacao_phone_03" mask="(99) 9?9999-9999">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="ramal">Ramal</label>
							<input type="text" class="form-control" id="ramal" placeholder="Ramal" ng-model="cotacao.cotacao_ramal">
						</div>
					</div>

				</div>		

			</div>
			<div class="col-md-6">

				<div class="row">

					<div class="col-md-6">
						<div class="form-group">
							<label for="status">Status</label>
							<select class="form-control" ng-model="cotacao.cotacao_status">
								<option value="0">Selecionar...</option>
								<option value="em-aberto">Em aberto</option>
								<option value="aprovado">Aprovado</option>
								<option value="aguardando-preco">Aguardando preço</option>
								<option value="pendente">Pendente</option>
								<option value="cancelado">Cancelado</option>
								<option value="reprovado">Reprovado</option>
								<option value="orientativo">Orientativo</option>
							</select>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="data-cadastro">Data de cadastro</label>
							<input type="date" class="form-control" id="data-cadastro" ng-model="cotacao.cotacao_cadastro_data_obj">
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<label for="previsao-mes">Prev. de início (mês)</label>
							<select class="form-control" id="previsao-mes" ng-model="cotacao.cotacao_previsao_mes">
								<option value="0">Selecionar...</option>
								<option value="1">Janeiro</option>
								<option value="2">Fevereiro</option>
								<option value="3">Março</option>
								<option value="4">Abril</option>
								<option value="5">Maio</option>
								<option value="6">Junho</option>
								<option value="7">Julho</option>
								<option value="8">Agosto</option>
								<option value="9">Setembro</option>
								<option value="10">Outubro</option>
								<option value="11">Novembro</option>
								<option value="12">Dezembro</option>
							</select>
						</div>

					</div>
					<div class="col-md-6">

						<div class="form-group">
							<label for="previsao-ano">Prev. de início (ano)</label>
							<input type="text" class="form-control" id="previsao-ano" placeholder="Ex. 2018" ng-model="cotacao.cotacao_previsao_ano">
						</div>

					</div>
				</div>

				<div class="row">

					<div class="col-md-12">
						<div class="form-group">
							<label for="vendedor">Vendedor</label>
							<select class="form-control" ng-model="cotacao.id_vendedor">
								<option value="0">Selecionar...</option>
								<option ng-repeat="(key, val) in vendedores" value="{{ val.id }}">{{ val.vendedor_nome }}</option>
							</select>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label for="vendedor">Categoria</label>
							<select class="form-control" ng-model="cotacao.id_categoria">
								<option value="0">Selecionar...</option>
								<option ng-repeat="(key, val) in categorias" value="{{ val.id }}">{{ val.cat_name }}</option>
							</select>
						</div>
					</div>

				</div>

				<hr />
					
				<div class="form-group">
					<label for="nome-projeto">Nome do projeto</label>
					<input type="text" class="form-control" id="nome-projeto" placeholder="Nome do projeto" ng-model="cotacao.cotacao_projeto_nome" required>
				</div>

				<div class="form-group">
					<label for="descricao-projeto">Descrição do projeto</label>
					<textarea class="form-control" id="descricao-projeto" ng-model="cotacao.cotacao_projeto_descricao"></textarea>
				</div>

			</div>

		</div>

		<div class="box-subtitle margin-top-30">
			<h2>Escopo da operação</h2>
		</div>

		<div class="row">
			<div class="col-md-8">

				<div class="form-group">
					<textarea class="form-control" ng-model="cotacao.cotacao_objeto_operacao" placeholder="Digite o texto do escopo da operação aqui..."></textarea>
				</div>
				
			</div>
		</div>

		<div class="box-subtitle margin-top-30">
			<h2>Característica Manual</h2>
		</div>		

		<table class="table table-striped margin-top-20">
			<tr>
				<th class="text-center">#</th>
				<th class="text-center">Qtd.</th>
				<th>Descrição</th>
				<th>Origem / Destino</th>
				<th class="text-center">Comp.</th>
				<th class="text-center">Larg.</th>
				<th class="text-center">Alt.</th>
				<th class="text-center">Peso</th>
				<th class="text-center">Valor</th>
				<th></th>
			</tr>
			<tr ng-repeat="(key, val) in cotacao.cotacao_caracteristica_objetos track by key">
				<td class="text-center">
					{{ val.objeto_item }}
				</td>
				<td class="text-center">
					{{ val.objeto_quantidade }}
				</td>
				<td>
					<strong>{{ val.objeto_descricao }}</strong>
				</td>
				<td>
					<span>{{ val.objeto_origem }}</span><br />
					<span>{{ val.objeto_destino }}</span>
				</td>
				<td class="text-center">
					{{ val.objeto_comprimento }}
				</td>
				<td class="text-center">
				 	{{ val.objeto_largura }}
				</td>
				<td class="text-center">
				 	{{ val.objeto_altura }}
				 </td>
				 <td class="text-center">
					{{ val.objeto_peso_unit }}kg
				 </td>
				 <td class="text-center">
					<small>Unit:</small> {{ val.objeto_valor_unit | currency }}<br />
				 	<small>Total:</small> {{ val.objeto_valor_total | currency }}
				 </td>
				 <td>
					<button type="button" ng-click="edit_objeto(key)" class="btn btn-sm btn-warning"><i class="icon-pencil icons"></i></button>
					<button type="button" ng-click="remove_objeto(key)" class="btn btn-sm btn-danger"><i class="icon-trash icons"></i></button>
				 </td>
			</tr>
			<tr ng-if="cotacao.cotacao_caracteristica_objetos.length == 0">
				<td colspan="9" class="text-center"><strong>Nenhum objeto cadastrado</strong></td>
			</tr>
			<tr>
				<th colspan="8"></th>
				<th class="text-center">Total: {{ total_cotacao_objetos | currency }}</th>
				<th></th>
			</tr>
		</table>

		<button type="button" class="btn btn-sm btn-primary" ng-click="open_objeto_form()"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</button>

		<hr class="margin-top-40" />

		<div class="box-subtitle margin-top-30">
			<h2>Característica Anexo</h2>
		</div>	

		<div flow-init="{target: '/api/public/upload', testChunks: false, chunkSize: 1024*1024*1024}"
			flow-files-submitted="$flow.upload()"
			flow-file-success="$file.nome = $message; save_to_cotacao($message)">			

			<table class="table table-striped margin-top-20">
				<tr>
					<th width="75%">Arquivo</th>
					<th width="25%">Data</th>
				</tr>
				<tr ng-repeat="(key, val) in cotacao.cotacao_anexos_objetos">
					<td><a href="/api/public{{ val.file_path }}" target="_blank">{{ val.file_name }}</a></td>
					<td>{{ val.create_timestamp * 1000 | date:'dd/MM/yyyy HH:mm' }}</td>
				</tr>
			</table>

			<div class="drag-drop-box" flow-drop>
			    Arraste os seus arquivos aqui
			</div>

			<button type="button" class="btn btn-sm btn-primary margin-top-20" flow-btn><i class="fa fa-upload" aria-hidden="true"></i> Carregar arquivo</button>

		</div>

		

		<div class="box-subtitle margin-top-30">
			<h2>Condições comerciais</h2>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="form-group">
					<label for="condicoes-pagamento">Condições de pagamento</label>
					<select class="form-control" ng-model="cotacao.cotacao_condicoes_pagamento_id" id="condicoes-pagamento">
						<option value="0">Selecionar...</option>
						<option ng-repeat="(key, val) in prazos_pgs" value="{{ val.id }}">{{ val.prazo_nome}}</option>
					</select>
				</div>

				<div class="form-group">
					<label for="prazo-pagamento">Contados a partir:</label>
					<select class="form-control" ng-model="cotacao.cotacao_prazo_razao_id">
						<option value="0">Selecionar...</option>
						<option ng-repeat="(key, val) in prazo_razoes" value="{{ val.id }}">{{ val.razao_nome}}</option>
					</select>
				</div>

				<div class="form-group">
					<label for="forma-pagamento">Forma de pagamento</label>
					<select class="form-control" ng-model="cotacao.id_forma_pagamento">
						<option value="0">Selecione...</option>
						<option ng-repeat="(key, val) in formas_pagamento" value="{{ val.id }}">{{ val.forma_nome }}</option>
					</select>
				</div>

				<div class="form-group">
					<label for="validade-proposta">Validade da proposta</label>
					<select class="form-control" ng-model="cotacao.cotacao_validade_proposta_id">
						<option value="0">Selecione...</option>
						<option ng-repeat="(key, val) in validades_propostas" value="{{ val.id }}">{{ val.validade_nome }}</option>
					</select>
				</div>

				<div class="form-group">
					<label for="descricao">Cotação com valores inclusos</label><br />
					<small>*Os campos não selecionados serão assumidos como exclusos automaticamente.</small>
					<div class="row">

						<div class="col-md-6">

							<div class="row">

								<div class="col-md-12">
									<input type="checkbox" name="imposto-icms" ng-model="cotacao.cotacao_vi_imposto_icms"> Imposto - ICMS
								</div>
								<div class="col-md-12">
									<input type="checkbox" name="imposto-inss" ng-model="cotacao.cotacao_vi_imposto_inss"> Imposto - INSS
								</div>
								<div class="col-md-12">
									<input type="checkbox" name="imposto-ir" ng-model="cotacao.cotacao_vi_imposto_ir"> Imposto - IR
								</div>
								<div class="col-md-12">
									<input type="checkbox" name="imposto-pis-cofins-csll" ng-model="cotacao.cotacao_vi_imposto_pis_cofins"> Imposto - PIS/COFINS/CSLL
								</div>
								<div class="col-md-12">
									<input type="checkbox" name="imposto-iss" ng-model="cotacao.cotacao_vi_iss"> Imposto ISS
									<div class="input-group input-group-sm">
										<input type="text" class="form-control" placeholder="Porcentagem do ISS" ng-model="cotacao.cotacao_vi_iss_percent" mask="99?.9?9">
										<div class="input-group-append">
											<span class="input-group-text">%</span>
										</div>
									</div>
								</div>

							</div>

						</div>
						<div class="col-md-6">

							<div class="row">
								<div class="col-md-12">
									<input type="checkbox" name="taxa-licencas" ng-model="cotacao.cotacao_vi_taxas"> Taxas/Licenças
								</div>
								
								<div class="col-md-12">
									<input type="checkbox" name="escolta" ng-model="cotacao.cotacao_vi_escolta"> Escolta
								</div>

								<div class="col-md-12">
									<input type="checkbox" name="pedagios" ng-model="cotacao.cotacao_vi_pedagios"> Pedágios
								</div>
						
								<div class="col-md-12">
									<input type="checkbox" name="seguro-sob-merc" ng-model="cotacao.cotacao_vi_seguro"> Seguro % sob merc.
									<div class="input-group input-group-sm">
										<input type="text" class="form-control" placeholder="Porcentagem do seguro" ng-model="cotacao.cotacao_vi_seguro_percent" mask="99?.9?9">
										<div class="input-group-append">
											<span class="input-group-text">%</span>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>



				</div>

			</div>
			
		</div>

		<div class="box-subtitle margin-top-30">
			<h2>Carga / Descarga</h2>
		</div>

		<div class="row">
			<div class="col-md-8">

				<table class="table table-striped">
					<tr>
						<td width="40"></td>
						<th width="150">Itens</th>
						<th width="200">Valor</th>
						<th>Equipamento</th>
					</tr>
					<tr>
						<td><input type="checkbox" ng-model="cotacao.cotacao_carga_descarga_carga"></td>
						<td>Carga</td>
						<td>
							<div class="input-group">
								<input type="text" class="form-control" name="cotacao_carga_descarga_carga_valor" ng-model="cotacao.cotacao_carga_descarga_carga_valor" money-mask ng-disabled="!cotacao.cotacao_carga_descarga_carga">
								<div class="input-group-append">
									<span class="input-group-text">R$</span>
								</div>
							</div>
						</td>
						<td><input type="text" class="form-control" name="cotacao_carga_descarga_carga_equip" placeholder="Descrição do equipamento" ng-model="cotacao.cotacao_carga_descarga_carga_equip" ng-disabled="!cotacao.cotacao_carga_descarga_carga"></td>
					</tr>
					<tr>
						<td><input type="checkbox" ng-model="cotacao.cotacao_carga_descarga_descarga"></td>
						<td>Descarga</td>
						<td>
							<div class="input-group">
								<input type="text" class="form-control" name="cotacao_carga_descarga_descarga_valor" ng-model="cotacao.cotacao_carga_descarga_descarga_valor" money-mask ng-disabled="!cotacao.cotacao_carga_descarga_descarga">
								<div class="input-group-append">
									<span class="input-group-text">R$</span>
								</div>
							</div>
						</td>
						<td><input type="text" class="form-control" name="cotacao_carga_descarga_descarga_equip" placeholder="Descrição do equipamento" ng-model="cotacao.cotacao_carga_descarga_descarga_equip" ng-disabled="!cotacao.cotacao_carga_descarga_descarga"></td>
					</tr>
					<tr>
						<td><input type="checkbox" ng-model="cotacao.cotacao_carga_descarga_mob"></td>
						<td>Mob. / Desmob.</td>
						<td>
							<div class="input-group">
								<input type="text" class="form-control" name="cotacao_carga_descarga_mob_valor" ng-model="cotacao.cotacao_carga_descarga_mob_valor" money-mask ng-disabled="!cotacao.cotacao_carga_descarga_mob">
								<div class="input-group-append">
									<span class="input-group-text">R$</span>
								</div>
							</div>
						</td>
						<td><input type="text" class="form-control" name="cotacao_carga_descarga_mob_equip" placeholder="Descrição do equipamento" ng-model="cotacao.cotacao_carga_descarga_mob_equip" ng-disabled="!cotacao.cotacao_carga_descarga_mob"></td>
					</tr>
					

				</table>

				<div class="form-group">
					<textarea class="form-control" id="carga-descarga" ng-model="cotacao.cotacao_carga_descarga" placeholder="Digite o texto da carga / descarga aqui..."></textarea>
				</div>
				
			</div>
		</div>

		<div class="box-subtitle margin-top-30">
			<h2>Equipamentos transportadores</h2>
		</div>

		<div class="row">
			<div class="col-md-8">

				<table class="table table-striped">
					<tr>
						<th width="45%">Descrição (objeto)</th>
						<th width="45%">Tipo comercial</th>
						<th width="10%"></th>
					</tr>
					<tr ng-repeat="(key,val) in cotacao.cotacao_equipamentos_tipos">
						<td>
							<input type="text" class="form-control" name="ce_descricao" ng-model="cotacao.cotacao_equipamentos_tipos[key].ce_descricao" placeholder="Descrição do objeto">
						</td>
						<td>
							<select class="form-control" ng-model="cotacao.cotacao_equipamentos_tipos[key].ce_tipo_comercial_id">
								<option value="0">Selecione...</option>
								<option ng-repeat="(tipo_key, tipo_val) in equip_tipos_comerciais" value="{{ tipo_val.id }}">{{ tipo_val.tipo_nome }}</option>
							</select>
						</td>
						<td class="text-right">
							<button class="btn btn-sm btn-danger" ng-click="equipamentos_tipos_remove(key)" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
						</td>
					</tr>
					<tr ng-if="cotacao.cotacao_equipamentos_tipos.length == 0">
						<td class="text-center" colspan="3">Nenhum equipamento cadastrado.</td>
					</tr>
				</table>

				<button class="btn btn-sm btn-success" ng-click="equipamentos_tipos_add()" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</button>
				
			</div>
		</div>

		<div class="box-subtitle margin-top-30">
			<h2>Carência / Estadia</h2>
		</div>

		<div class="row">
			<div class="col-md-8">

				<div class="form-group">
					<textarea class="form-control" id="carencia-estadia" ng-model="cotacao.cotacao_carencia" placeholder="Digite o texto da carência / estadia aqui..."></textarea>
				</div>
				
			</div>
		</div>

		<div class="box-subtitle margin-top-30">
			<h2>Prazo de execução</h2>
		</div>

		<div class="row">
			<div class="col-md-8">

				<div class="form-group">
					<textarea class="form-control" id="prazo-execucao" ng-model="cotacao.cotacao_prazo_execucao" placeholder="Digite o texto de prazo de execução aqui..."></textarea>
				</div>
				
			</div>
		</div>

		<div class="box-subtitle margin-top-30">
			<h2>Considerações gerais</h2>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="form-group">
					<label for="observacoes-finais">Observações finais</label>
					<textarea class="form-control" id="observacoes-finais" ng-model="cotacao.cotacao_observacoes_finais"></textarea>
				</div>
				
			</div>
			<div class="col-md-6">

				<div class="form-group">
					<label for="observacoes-internas">Observações internas / Comercial</label>
					<textarea class="form-control" ng-model="cotacao.cotacao_observacoes_internas"></textarea>
				</div>
				
			</div>
		</div>

		<div class="cadastro-footer margin-top-25">
				
			<!-- Botão duplicar -->
			<a class="btn btn-primary" ng-if="$state.name == 'update-cotacao'" href="/cotacoes/gerencia?copy={{ cotacao.id }}">
				<i class="fa fa-clone" aria-hidden="true"></i> Duplicar
			</a>

			<!-- Botão Imprimir // Emite documento em PDF -->
			<button type="button" class="btn btn-primary" ng-if="$state.name == 'update-cotacao'">
				<i class="fa fa-print" aria-hidden="true"></i> Imprimir
			</button>

			<!-- Botão aprovar // Bloqueia a cotação de alteração e cria um projeto -->
			<button type="button" class="btn btn-success" ng-if="$state.name == 'update-cotacao' && cotacao.cotacao_status != 'aprovado'" ng-click="approve_cotacao()">
				<i class="fa fa-check" aria-hidden="true"></i> Aprovar
			</button>

			<!-- Cancelar -->
			<a href="/cotacoes" class="btn btn-danger">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar
			</a>

			<!-- Botão salvar // Só aparece quando estiver inserindo -->
			<button type="submit" class="btn btn-success" ng-if="$state.name == 'insert-cotacao'">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar
			</button>

			<!-- Botão alterar // Só aparece quando estiver alterando -->
			<button type="submit" class="btn btn-warning" ng-if="$state.name != 'insert-cotacao' && cotacao.cotacao_status != 'aprovado'">
				<i class="fa fa-pencil" aria-hidden="true"></i> Alterar
			</button>

		</div>


	</form>

</div>