<div class="title-page">
	<div class="row">

		<div class="col-md-8">
			<h1>Cotações <small>({{ cotacoes.config.total }} registros)</small></h1>
		</div>
		<div class="col-md-4 text-right">
			<a href="/cotacoes/gerencia" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Cadastrar</a>
		</div>

	</div>
</div>



<div class="box-content">

	<div class="box-subtitle"><h2>Listagem das cotações</h2></div>

	<form action="/cotacoes">

		<div class="row">
			<div class="col-md-4">
				<div class="form-group margin-bottom-0">
					<label>Número</label>
					<input type="text" class="form-control" placeholder="Número sequencial da cotação" name="cotacao_num" ng-model="get_filters.cotacao_num">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group margin-bottom-0">
					<label>Cliente</label>
					<input type="text" class="form-control" placeholder="Cliente" name="cotacao_cliente" ng-model="get_filters.cotacao_cliente">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group margin-bottom-0">
					<label>Projeto</label>
					<input type="text" class="form-control" placeholder="Apelido do projeto" name="cotacao_projeto" ng-model="get_filters.cotacao_projeto">
				</div>
			</div>
		</div>

		<div class="row margin-top-10">
			<div class="col-md-4">
				<div class="form-group margin-bottom-0">
					<label>Status</label>
					<select class="form-control" ng-model="get_filters.cotacao_status" name="cotacao_status">
						<option value="">Selecionar...</option>
						<option value="em-aberto">Em aberto</option>
						<option value="aprovado">Aprovado</option>
						<option value="aguardando-preco">Aguardando preço</option>
						<option value="cancelado">Cancelado</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row margin-top-10">
			<div class="col-md-6">
				<div ng-if="cotacoes.config.is_search">
					<small>Mostrando {{ cotacoes.config.total }} resultados.</small>
					<small><a href="/cotacoes" target="_self" class="text-danger">Limpar filtro</a></small>
				</div>
			</div>
			<div class="col-md-6 text-right">
				<button type="submit" class="btn btn-sm btn-primary"><i class="icon-magnifier icons"></i> Buscar</button>
			</div>
		</div>

	</form>

	<table class="table table-striped margin-top-30">
		<tr>
			<th width="200">Código</th>
			<th>Data</th>
			<th>Cliente</th>
			<th>Projeto</th>
			<th>Vendedor</th>
			<th width="140" class="text-center">Status</th>
			<th></th>
		</tr>
		<tr ng-repeat="(key, val) in cotacoes.results">
			<td>
				<a href="/cotacoes/visualizar/{{ val.id }}" class="text-dark">{{ val.cotacao_code }}</a><br />
				<small><a href="#" ng-click="open_revisoes(val.id)">Ver revisões</a></small>
			</td>
			<td>
				{{ val.create_timestamp * 1000 | date:'dd/MM/yyyy HH:mm' }}
			</td>
			<td>
				{{ val.cotacao_cliente_nome }}
			</td>
			<td>
				{{ val.cotacao_projeto_nome }}
			</td>
			<td>
				{{ val.vendedor_nome }}
			</td>
			<td class="text-center">
				{{ val.cotacao_status_text }}
			</td>
			<td width="120" class="text-right">

				<a href="/cotacoes/visualizar/{{ val.id }}" class="btn btn-sm btn-primary">
					<i class="fa fa-file-text-o" aria-hidden="true"></i>
					<div class="btn-tooltip">Visualizar</div>
				</a>

				<a href="/cotacoes/gerencia/{{ val.id }}" class="btn btn-sm btn-warning" ng-if="val.cotacao_status != 'aprovado'">
					<i class="fa fa-pencil" aria-hidden="true"></i>
					<div class="btn-tooltip">Editar</div>
				</a>

				<a href="/cotacoes/gerencia?copy={{ val.id }}" class="btn btn-sm btn-warning" ng-if="val.cotacao_status == 'aprovado'">
					<i class="fa fa-files-o" aria-hidden="true"></i>
					<div class="btn-tooltip">Duplicar</div>
				</a>

				<a href="#" class="btn btn-sm btn-secondary" ng-click="print_cotacao(val.id, 'is_loading')">
					<i class="fa fa-print" aria-hidden="true"></i>
					<div class="btn-tooltip">Imprimir</div>
				</a>

			</td>
		</tr>
		
	</table>
	
	<!-- pager -->
	<div class="text-center margin-top-30">
		<div aria-label="navigation" ng-if="config.total_pages > 1" class="d-inline-block"
			paginate-navigation 
			data-paginate="paginate"
			data-config="config"
			data-url="/cotacoes/">
		</div>	
	</div>

</div>