<h1 class="title-page">Dashboard</h1>

<section>

	<div class="row dashboard-cards">
		<div class="col-md-4">
			<div class="box-content box-card">

				<h2>155</h2>
				<p>Exemplo</p>

			</div>
		</div>
		<div class="col-md-4">
			<div class="box-content box-card">

				<h2>155</h2>
				<p>Exemplo</p>

			</div>
		</div>
		<div class="col-md-4">
			<div class="box-content box-card">

				<h2>155</h2>
				<p>Exemplo</p>

			</div>
		</div>
	</div>

	<div class="box-content padding-top-50 padding-bottom-50 margin-top-25">

		<p class="text-center">Gráfico</p>

	</div>

	
</section>

