<h1 class="title-page">Gerencia Categoria</h1>

<div class="box-content">

	<form ng-submit="vm.setCategoria()">

		<div class="box-subtitle">
			<h2>Cadastro / edição de categoria</h2>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="form-group">
					<label for="nome-categoria">Categoria</label>
					<input type="text" class="form-control" id="nome-categoria" placeholder="Nome da categoria" ng-model="categoria.cat_name" required>
				</div>
			
				<div class="form-group">
					<label for="apelido">Observação</label>
					<textarea class="form-control" ng-model="categoria.cat_descricao" placeholder="Descrição da categoria..."></textarea>
				</div>
					
			</div>
		</div>

		<div class="cadastro-footer margin-top-25">
			<a href="/categorias" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
			<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
		</div>

	</form>

</div>