<div class="title-page">
	<div class="row">

		<div class="col-md-8">
			<h1>Categorias <small>({{ categorias.config.total }} registros)</small></h1>
		</div>
		<div class="col-md-4 text-right">
			<a href="/categorias/gerencia" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Cadastrar</a>
		</div>

	</div>
</div>

<div class="box-content">

	<div class="box-subtitle">
		<h2>Categorias do sistema</h2>
	</div>

	<div class="row">
		<div class="col-md-12">

			<form action="/categorias">

				<div class="form-group margin-bottom-0">
					<label>Filtro</label>
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Nome da categoria" name="cat_name" ng-model="get_filters.cat_name">
						<div class="input-group-append">
							<button class="btn btn-primary" type="submit"><i class="icon-magnifier icons"></i> Buscar</button>
						</div>
					</div>

					<div ng-if="categorias.config.is_search">
						<small>Mostrando {{ categorias.config.total }} resultados para "{{ get_filters.cat_name }}".</small>
						<small><a href="/categorias" target="_self" class="text-danger">Limpar filtro</a></small>
					</div>

				</div>

			</form>

		</div>
	</div>

	<table class="table margin-top-30">
		<tr ng-repeat="(key, val) in categorias.results">
			<td>
				<strong>{{ val.cat_name }}</strong><br />
				<small>Código: #{{ val.id }}</small>
			</td>
			<td><small>Cadastrado em {{ val.create_timestamp * 1000 | date:'dd/MM/yyyy HH:mm' }}</small></td>
			<td width="220">
				<div class="buttons-capsule">
					<a href="/categorias/visualizar/{{ val.id }}" class="btn btn-sm btn-primary">Visualizar</a><a href="/categorias/gerencia/{{ val.id }}" class="btn btn-sm btn-warning">Editar</a><button href="#" class="btn btn-sm btn-danger" ng-click="delete_categoria(val.id)">Excluir</button>
				</div>
			</td>
		</tr>
		
	</table>

	<div class="card" ng-if="categorias.config.total == 0">
		<div class="card-body text-center">
			Nenhuma categoria encontrada.
		</div>
	</div>

	<!-- pager -->
	<div class="text-center margin-top-30">
		<div aria-label="navigation" ng-if="categorias.config.total_pages > 1" class="d-inline-block">
		    <ul class="pagination">
		        <li ng-class="{disabled:categorias.config.current_page == 1}" class="page-item">
		            <a href="/categorias/{{categorias.config.current_page - 1}}" class="page-link"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		        </li>
		        <li ng-repeat="page in [] | range: categorias.config.total_pages | limitTo:10" ng-class="{active:categorias.config.current_page == page}" class="page-item">
		            <a href="/categorias/{{page}}" class="page-link">{{page}}</a>
		        </li>                
		        <li ng-class="{disabled:categorias.config.current_page == categorias.config.total_pages}" class="page-item">
		            <a href="/categorias/{{ categorias.config.current_page + 1 }}" class="page-link"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
		        </li>
		    </ul>
		</div>
	</div>

</div>