<h1 class="title-page">Produtos / Categorias <small>- ({{ categorias.length }} registros)</small></h1>

<div class="box-content">

	<div class="row">
		<div class="col-md-6">

			<div class="box-subtitle">
				<h2>Categorias dos produtos</h2>
			</div>

			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
				<input type="text" class="form-control" id="" placeholder="Buscar categoria" required ng-model="search_category">
			</div>


			<table class="table table-striped margin-top-20">
				<tr class="text-uppercase">
					<th>Categoria</th>
					<th width="150" class="text-center">Opções</th>
				</tr>
				<tr ng-repeat="(key,val) in categorias_hierarchical | filter:search_category">
					<td class="nivel-{{ val.nivel }}">{{ val.description }}</td>
					<td align="center">
						<div class="buttons-capsule">
							<a href="#" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#modal-edit-categoria">Editar</a><a href="#" class="btn btn-sm btn-danger" ng-click="removeCategoria(val.id)">Excluir</a>
						</div>
					</td>
				</tr>
			</table>

		</div>

		<div class="col-md-6">

			<div class="box-subtitle">
				<h2>Cadastro</h2>
			</div>

			<form class="boxed-form" ng-submit="insertCategoria()">

				<div class="form-group">
					<label for="descricao">Descrição</label>
					<input type="text" class="form-control" id="descricao" placeholder="Nome da categoria" required ng-model="categoria_data.description">
				</div>

				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<label for="descricao">Categoria mãe</label>
							<select class="form-control" ng-model="categoria_data.id_parent">
								<option value="0">Nenhum</option>
								<option ng-repeat="(key,val) in categorias_mothers" value="{{ val.id }}">{{ val.description }}</option>
							</select>
						</div>

					</div>

				</div>

				<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Cadastrar</button>

			</form>

		</div>
	</div>	


	<div class="modal" role="dialog" id="modal-edit-categoria">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Modal body text goes here.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Save changes</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	
</div>