<h1 class="title-page">Visualização de categoria</h1>

<div class="box-content">

	<div class="box-subtitle">
		<h2>Categoria #{{ categoria.id }}</h2>
	</div>

	<div class="row">
		<div class="col-md-6">

			<div class="form-group">
				<label for="cat-name">Nome da categoria</label>
				<p>{{ categoria.cat_name }}</p>
			</div>

			<div class="form-group">
				<label for="cat-descricao">Descrição</label>
				<p>{{ categoria.cat_descricao }}</p>
			</div>

		</div>
		
	</div>

	<div class="cadastro-footer margin-top-25">
		<a href="/categorias/gerencia/{{ categoria.id }}" class="btn btn-warning"><i class="icon-pencil icons"></i> Editar</a>
		<a href="/categorias" class="btn btn-primary"><i class="icon-arrow-left icons"></i> Voltar</a>
	</div>

</div>