<h1 class="title-page">Gerencia forma de pagamento</h1>

<div class="box-content">

	<form ng-submit="vm.setItem()">

		<div class="box-subtitle">
			<h2>Cadastro / edição de forma de pagamento</h2>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="row">

					<div class="col-md-12">
						<div class="form-group">
							<label for="forma-pagamento">Forma de pagamento</label>
							<input type="text" class="form-control" id="forma-pagamento" ng-model="data.forma_nome" placeholder="Digite a forma de pagamento aqui..." required>
						</div>
					</div>

				</div>
			

			</div>

		</div>

		<div class="cadastro-footer margin-top-25">
			<a href="/configuracoes/formas-de-pagamento" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
			<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
		</div>


	</form>

</div>