<h1 class="title-page">Cadastro de empresa</h1>

<div class="box-content">

	<div class="row">
		<div class="col-md-6">

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="id">Nome da empresa</label>
						<input type="text" class="form-control" id="id">
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="id">Responsável</label>
						<input type="text" class="form-control" id="id">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="id">E-mail</label>
						<input type="text" class="form-control" id="id">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="id">Telefone</label>
						<input type="text" class="form-control" id="id">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="id">CNPJ</label>
						<input type="text" class="form-control" id="id">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="id">I.E</label>
						<input type="text" class="form-control" id="id">
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="id">Logotipo</label>
						<input type="file" class="form-control" id="id">
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-6">

			<div class="row">

				<div class="col-md-6">
					<div class="form-group">
						<label for="id">CEP</label>
						<input type="text" class="form-control" id="id">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="id">Logradouro</label>
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label for="id">Número</label>
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label for="id">Complemento</label>
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label for="id">Bairro</label>
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label for="id">Cidade</label>
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label for="id">Estado</label>
						<select class="form-control">
							<option>Selecione...</option>
							<option value="AC">Acre</option>
							<option value="AL">Alagoas</option>
							<option value="AP">Amapá</option>
							<option value="AM">Amazonas</option>
							<option value="BA">Bahia</option>
							<option value="CE">Ceará</option>
							<option value="DF">Distrito Federal</option>
							<option value="ES">Espírito Santo</option>
							<option value="GO">Goiás</option>
							<option value="MA">Maranhão</option>
							<option value="MT">Mato Grosso</option>
							<option value="MS">Mato Grosso do Sul</option>
							<option value="MG">Minas Gerais</option>
							<option value="PA">Pará</option>
							<option value="PB">Paraíba</option>
							<option value="PR">Paraná</option>
							<option value="PE">Pernambuco</option>
							<option value="PI">Piauí</option>
							<option value="RJ">Rio de Janeiro</option>
							<option value="RN">Rio Grande do Norte</option>
							<option value="RS">Rio Grande do Sul</option>
							<option value="RO">Rondônia</option>
							<option value="RR">Roraima</option>
							<option value="SC">Santa Catarina</option>
							<option value="SP">São Paulo</option>
							<option value="SE">Sergipe</option>
							<option value="TO">Tocantins</option>
						</select>
					</div>
				</div>

			</div>

		</div>
	</div>	

	<div class="cadastro-footer margin-top-25">
		<a href="/seleciona-empresa" class="btn btn-danger">Cancelar</a>
		<a href="/seleciona-empresa" class="btn btn-success">Cadastrar</a>

	</div>

</div>
