<h1 class="title-page">Configurações do sistema</h1>

<section>

	<div class="box-content">


		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="geral-tab" data-toggle="tab" href="#geral" role="tab" aria-controls="geral" aria-selected="true">Geral</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="omie-tab" data-toggle="tab" href="#omie" role="tab" aria-controls="omie" aria-selected="false">Omie</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="acbr-tab" data-toggle="tab" href="#acbr" role="tab" aria-controls="acbr" aria-selected="false">ACBr</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="logs-tab" data-toggle="tab" href="#logs" role="tab" aria-controls="logs" aria-selected="false">Logs</a>
			</li>
		</ul>

		<div class="tab-content margin-top-25" id="myTabContent">
			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				<p>Configurações gerais do sistema</p>
			</div>
			<div class="tab-pane fade" id="omie" role="tabpanel" aria-labelledby="omie-tab">
				<p>Configurações da omie</p>
			</div>
			<div class="tab-pane fade" id="acbr" role="tabpanel" aria-labelledby="acbr-tab">
				<p>Configurações do ACBr</p>
			</div>
			<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="logs-tab">
				<p>Logs do sistema</p>
			</div>
		</div>

		<div class="cadastro-footer margin-top-25">
			<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
		</div>


	</div>

	
</section>

