<h1 class="title-page">Gerencia projeto</h1>

<div class="box-content">

	<form ng-submit="vm.setUser()">

		<div class="box-subtitle">
			<h2>Cadastro / edição de projeto</h2>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Código</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="id">Cliente (n. fantasia)</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label for="id">Contato</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label for="id">E-mail</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Celular 1 / WhatsApp</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Celular 2</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Telefone Fixo</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Ramal</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
				</div>

			</div>
			<div class="col-md-6">

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Filial</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Status</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Data de cadastro</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="id">Vendedor</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

				</div>

				<div class="row margin-top-55">

					<div class="col-md-8">
						<div class="form-group">
							<label for="id">Projeto (Apelido)</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label for="id">Cód. Cotação</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					
					<div class="col-md-12">
						<div class="form-group">
							<label for="id">Resumo do projeto</label>
							<textarea class="form-control"></textarea>
						</div>
					</div>


				</div>

				

			</div>
		</div>

		<div class="box-subtitle">
			<h2>Associação de AS's</h2>
		</div>

		<table class="table table-striped">
			<tr>
				<th>AS</th>
				<th>Descrição</th>
				<th>Data</th>
				<th>Preço</th>
				<th>Custo</th>
				<th>Resultado</th>
				<th>Status</th>
			</tr>
			<tr>
				<td><a href="">1234</a></td>
				<td>Descrição exemplo</td>
				<td>16/06/2018</td>
				<td>R$ 100,00</td>
				<td>R$ 100,00</td>
				<td>Sucesso</td>
				<td>Finalizado</td>
			</tr>
			<tr>
				<td><a href="">1234</a></td>
				<td>Descrição exemplo</td>
				<td>16/06/2018</td>
				<td>R$ 100,00</td>
				<td>R$ 100,00</td>
				<td>Sucesso</td>
				<td>Finalizado</td>
			</tr>
			<tr>
				<td><a href="">1234</a></td>
				<td>Descrição exemplo</td>
				<td>16/06/2018</td>
				<td>R$ 100,00</td>
				<td>R$ 100,00</td>
				<td>Sucesso</td>
				<td>Finalizado</td>
			</tr>
			<tr>
				<td><a href="">1234</a></td>
				<td>Descrição exemplo</td>
				<td>16/06/2018</td>
				<td>R$ 100,00</td>
				<td>R$ 100,00</td>
				<td>Sucesso</td>
				<td>Finalizado</td>
			</tr>
			<tr>
				<td><a href="">1234</a></td>
				<td>Descrição exemplo</td>
				<td>16/06/2018</td>
				<td>R$ 100,00</td>
				<td>R$ 100,00</td>
				<td>Sucesso</td>
				<td>Finalizado</td>
			</tr>
			<tr>
				<td><a href="">1234</a></td>
				<td>Descrição exemplo</td>
				<td>16/06/2018</td>
				<td>R$ 100,00</td>
				<td>R$ 100,00</td>
				<td>Sucesso</td>
				<td>Finalizado</td>
			</tr>
		</table>

		<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Adicionar</button>

		<hr class="margin-top-40 margin-bottom-40" />

		<div class="row">
			<div class="col-md-6">

				<div class="card">
					<div class="card-body">

						<h3>RV´s EMITIDAS - CUSTO</h3>

						<table class="table table-striped">
							<tr>
								<th>RV</th>
								<th>Colaborador</th>
								<th>Data</th>
								<th>Total</th>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th>12345</th>
							</tr>
						</table>

					</div>
				</div>

			</div>
			<div class="col-md-6">

				<div class="row">
					<div class="col-md-4 text-right">
						<strong>Total faturado:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="row margin-top-5">
					<div class="col-md-4 text-right">
						<strong>Impostos:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="row margin-top-5">
					<div class="col-md-4 text-right">
						<strong>Seguro:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="row margin-top-5">
					<div class="col-md-4 text-right">
						<strong>Custos:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="row margin-top-5">
					<div class="col-md-4 text-right">
						<strong>Despesas:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="row margin-top-5">
					<div class="col-md-4 text-right">
						<strong>Comissão:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="row margin-top-25">
					<div class="col-md-4 text-right">
						<strong>Resultado:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>


			</div>
		</div>

		<div class="row margin-top-40">
			<div class="col-md-6">

				<div class="card">
					<div class="card-body">

						<h3>RV´s EMITIDAS - COMBUSTÍVEL & PEDÁGIO - CUSTO</h3>

						<table class="table table-striped">
							<tr>
								<th>RV</th>
								<th>Frota</th>
								<th>Colaborador</th>
								<th>Data</th>
								<th>Total</th>
							</tr>
							<tr>
								<td>12345</td>
								<td>Frota</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Frota</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Frota</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th>12345</th>
							</tr>
						</table>

					</div>
				</div>

			</div>
			<div class="col-md-6">

				<div class="card">
					<div class="card-body">

						<h3>TAXAS / LICENÇAS / ESCOLTAS - CUSTO OPERACIONAL</h3>

						<table class="table table-striped">
							<tr>
								<th>AET</th>
								<th>Fornecedor</th>
								<th>Data</th>
								<th>Total</th>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th>12345</th>
							</tr>
						</table>

					</div>
				</div>

			</div>
		</div>

		<div class="row margin-top-40">
			<div class="col-md-6">

				<div class="card">
					<div class="card-body">

						<h3>FINANCEIRO - DESPESAS</h3>

						<table class="table table-striped">
							<tr>
								<th>NFS</th>
								<th>Fornecedor</th>
								<th>Data</th>
								<th>Total</th>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th>12345</th>
							</tr>
						</table>

					</div>
				</div>

			</div>
			<div class="col-md-6">

				<div class="card">
					<div class="card-body">

						<h3>OBSERVAÇÕES INTERNAS</h3>

						<table class="table table-striped">
							<tr>
								<th>Data</th>
								<th>Responsável</th>
								<th>Observação</th>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
							</tr>
						</table>

					</div>
				</div>

			</div>
		</div>




		<div class="cadastro-footer margin-top-25">
			<a href="/projetos" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
			<button type="submit" class="btn btn-primary"><i class="fa fa-print" aria-hidden="true"></i> Imprimir</button>
			<button type="submit" class="btn btn-primary"><i class="fa fa-clone" aria-hidden="true"></i> Duplicar</button>
			<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
		</div>


	</form>

</div>