<h1 class="title-page">Gerencia projeto</h1>

<div class="box-content">

	<form ng-submit="vm.setUser()">

		<div class="box-subtitle">
			<h2>Cadastro / edição de projeto</h2>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="row">

					<div class="col-md-12">
						<div class="form-group">
							<label for="id">Descrição</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label for="id">Data de cadastro</label>
							<input type="text" class="form-control" id="id">
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label for="id">Resumo do projeto</label>
							<textarea class="form-control"></textarea>
						</div>
					</div>


				</div>

				

			</div>
		</div>

		<div class="cadastro-footer margin-top-25">
			<a href="/projetos" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
			<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
		</div>


	</form>

</div>