<h1 class="title-page">Gerencia projeto</h1>

<div class="box-content">

	<form ng-submit="vm.setProjeto()">

		<div class="box-subtitle">
			<h2>Cadastro / edição de projeto</h2>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="row">

					<div class="col-md-12">
						<div class="form-group">
							<label for="filial">Filial</label>
							<select class="form-control" name="id_empresa" ng-model="cotacao.id_empresa" ng-change="empresa_change()">
								<option value="0">Selecionar...</option>
								<option ng-repeat="(key, val) in empresas" value="{{ val.id }}" data-prefixo="{{ val.empresa_prefixo }}">{{ val.empresa_name }}</option>
							</select>
						</div>
					</div>

					<div class="col-md-8">
						<div class="form-group">
							<label for="codigo">Código</label>
							<input type="text" class="form-control" id="codigo" placeholder="Código" ng-model="cotacao.cotacao_code" ng-readonly="cotacao.id_empresa == '0' || $state.name == 'update-cotacao'" required>
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label for="revisao">Revisão</label>
							<input type="text" class="form-control" id="revisao" placeholder="Revisão" ng-model="cotacao.cotacao_revisao" readonly>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label for="cliente">Cliente</label>
							<div class="input-group">
								<input type="text" class="form-control" id="cliente" placeholder="Selecione um cliente..." ng-model="cotacao.cotacao_cliente_nome" readonly>
								<div class="input-group-append">
									<button class="btn btn-primary" type="button" ng-click="open_choose_cliente('main_cliente')"><i class="icon-magnifier icons"></i></button>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label for="contato">Contato</label>
							<input type="text" class="form-control" id="contato" placeholder="Contato" ng-model="cotacao.cotacao_contato">
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label for="email">E-mail</label>
							<input type="text" class="form-control" id="email" placeholder="E-mail" ng-model="cotacao.cotacao_email">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="celular-1">Celular 1</label>
							<input type="text" class="form-control" id="celular-1" placeholder="Celular 1" ng-model="cotacao.cotacao_phone_01">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="celular-2">Celular 2</label>
							<input type="text" class="form-control" id="celular-2" placeholder="Celular 2" ng-model="cotacao.cotacao_phone_02">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="telefone">Telefone</label>
							<input type="text" class="form-control" id="telefone" placeholder="Telefone" ng-model="cotacao.cotacao_phone_03">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="ramal">Ramal</label>
							<input type="text" class="form-control" id="ramal" placeholder="Ramal" ng-model="cotacao.cotacao_ramal">
						</div>
					</div>

				</div>		

			</div>
			<div class="col-md-6">

				<div class="row">

					<div class="col-md-6">
						<div class="form-group">
							<label for="status">Status</label>
							<select class="form-control" ng-model="cotacao.cotacao_status">
								<option value="0">Selecionar...</option>
								<option value="em-aberto">Em aberto</option>
								<option value="aprovado">Aprovado</option>
								<option value="aguardando-preco">Aguardando preço</option>
								<option value="cancelado">Cancelado</option>
							</select>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="data-cadastro">Data de cadastro</label>
							<input type="date" class="form-control" id="data-cadastro" ng-model="cotacao.cotacao_cadastro_data_obj">
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label for="vendedor">Vendedor</label>
							<select class="form-control" ng-model="cotacao.id_vendedor">
								<option value="0">Selecionar...</option>
								<option ng-repeat="(key, val) in vendedores" value="{{ val.id }}">{{ val.vendedor_nome }}</option>
							</select>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label for="vendedor">Categoria</label>
							<select class="form-control" ng-model="cotacao.id_categoria">
								<option value="0">Selecionar...</option>
								<option ng-repeat="(key, val) in categorias" value="{{ val.id }}">{{ val.cat_name }}</option>
							</select>
						</div>
					</div>

				</div>

				<hr />
					
				<div class="form-group">
					<label for="nome-projeto">Nome do projeto</label>
					<input type="text" class="form-control" id="nome-projeto" placeholder="Nome do projeto" ng-model="cotacao.cotacao_projeto_nome" required>
				</div>

				<div class="form-group">
					<label for="descricao-projeto">Descrição do projeto</label>
					<textarea class="form-control" id="descricao-projeto" ng-model="cotacao.cotacao_projeto_descricao"></textarea>
				</div>
				
			</div>

		</div>

		<div class="box-subtitle">
			<h2>Associação de AS's</h2>
		</div>

		<p>Em construção</p>

		<!--

		<table class="table table-striped">
			<tr>
				<th>AS</th>
				<th>Descrição</th>
				<th>Data</th>
				<th>Preço</th>
				<th>Custo</th>
				<th>Resultado</th>
				<th>Status</th>
			</tr>
			<tr>
				<td><a href="">1234</a></td>
				<td>Descrição exemplo</td>
				<td>16/06/2018</td>
				<td>R$ 100,00</td>
				<td>R$ 100,00</td>
				<td>Sucesso</td>
				<td>Finalizado</td>
			</tr>
			<tr>
				<td><a href="">1234</a></td>
				<td>Descrição exemplo</td>
				<td>16/06/2018</td>
				<td>R$ 100,00</td>
				<td>R$ 100,00</td>
				<td>Sucesso</td>
				<td>Finalizado</td>
			</tr>
			<tr>
				<td><a href="">1234</a></td>
				<td>Descrição exemplo</td>
				<td>16/06/2018</td>
				<td>R$ 100,00</td>
				<td>R$ 100,00</td>
				<td>Sucesso</td>
				<td>Finalizado</td>
			</tr>
			<tr>
				<td><a href="">1234</a></td>
				<td>Descrição exemplo</td>
				<td>16/06/2018</td>
				<td>R$ 100,00</td>
				<td>R$ 100,00</td>
				<td>Sucesso</td>
				<td>Finalizado</td>
			</tr>
			<tr>
				<td><a href="">1234</a></td>
				<td>Descrição exemplo</td>
				<td>16/06/2018</td>
				<td>R$ 100,00</td>
				<td>R$ 100,00</td>
				<td>Sucesso</td>
				<td>Finalizado</td>
			</tr>
			<tr>
				<td><a href="">1234</a></td>
				<td>Descrição exemplo</td>
				<td>16/06/2018</td>
				<td>R$ 100,00</td>
				<td>R$ 100,00</td>
				<td>Sucesso</td>
				<td>Finalizado</td>
			</tr>
		</table>

		<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Adicionar</button>

		-->

		<!--

		<hr class="margin-top-40 margin-bottom-40" />

		<div class="row">
			<div class="col-md-6">

				<div class="card">
					<div class="card-body">

						<h3>RV´s EMITIDAS - CUSTO</h3>

						<table class="table table-striped">
							<tr>
								<th>RV</th>
								<th>Colaborador</th>
								<th>Data</th>
								<th>Total</th>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th>12345</th>
							</tr>
						</table>

					</div>
				</div>

			</div>
			<div class="col-md-6">

				<div class="row">
					<div class="col-md-4 text-right">
						<strong>Total faturado:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="row margin-top-5">
					<div class="col-md-4 text-right">
						<strong>Impostos:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="row margin-top-5">
					<div class="col-md-4 text-right">
						<strong>Seguro:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="row margin-top-5">
					<div class="col-md-4 text-right">
						<strong>Custos:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="row margin-top-5">
					<div class="col-md-4 text-right">
						<strong>Despesas:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="row margin-top-5">
					<div class="col-md-4 text-right">
						<strong>Comissão:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>

				<div class="row margin-top-25">
					<div class="col-md-4 text-right">
						<strong>Resultado:</strong>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id">
					</div>
				</div>


			</div>
		</div>

		<div class="row margin-top-40">
			<div class="col-md-6">

				<div class="card">
					<div class="card-body">

						<h3>RV´s EMITIDAS - COMBUSTÍVEL & PEDÁGIO - CUSTO</h3>

						<table class="table table-striped">
							<tr>
								<th>RV</th>
								<th>Frota</th>
								<th>Colaborador</th>
								<th>Data</th>
								<th>Total</th>
							</tr>
							<tr>
								<td>12345</td>
								<td>Frota</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Frota</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Frota</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th>12345</th>
							</tr>
						</table>

					</div>
				</div>

			</div>
			<div class="col-md-6">

				<div class="card">
					<div class="card-body">

						<h3>TAXAS / LICENÇAS / ESCOLTAS - CUSTO OPERACIONAL</h3>

						<table class="table table-striped">
							<tr>
								<th>AET</th>
								<th>Fornecedor</th>
								<th>Data</th>
								<th>Total</th>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th>12345</th>
							</tr>
						</table>

					</div>
				</div>

			</div>
		</div>

		<div class="row margin-top-40">
			<div class="col-md-6">

				<div class="card">
					<div class="card-body">

						<h3>FINANCEIRO - DESPESAS</h3>

						<table class="table table-striped">
							<tr>
								<th>NFS</th>
								<th>Fornecedor</th>
								<th>Data</th>
								<th>Total</th>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
								<td>5467</td>
							</tr>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th>12345</th>
							</tr>
						</table>

					</div>
				</div>

			</div>
			<div class="col-md-6">

				<div class="card">
					<div class="card-body">

						<h3>OBSERVAÇÕES INTERNAS</h3>

						<table class="table table-striped">
							<tr>
								<th>Data</th>
								<th>Responsável</th>
								<th>Observação</th>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
							</tr>
							<tr>
								<td>12345</td>
								<td>Guilherme</td>
								<td>16/06/2018</td>
							</tr>
						</table>

					</div>
				</div>

			</div>
		</div>

		-->


		<div class="cadastro-footer margin-top-25">
			<a href="/projetos" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
			<!--<button type="submit" class="btn btn-primary"><i class="fa fa-print" aria-hidden="true"></i> Imprimir</button>
			<button type="submit" class="btn btn-primary"><i class="fa fa-clone" aria-hidden="true"></i> Duplicar</button> -->
			<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
		</div>


	</form>

</div>