<div class="title-page">
	<div class="row">

		<div class="col-md-8">
			<h1>Projetos <small>({{ projetos.config.total }} registros)</small></h1>
		</div>

	</div>
</div>

<div class="box-content">

	<div class="box-subtitle">
		<h2>Listagem dos projetos</h2>
	</div>

	<form action="/projetos">

		<div class="row">
			<div class="col-md-4">
				<div class="form-group margin-bottom-0">
					<label>Número</label>
					<input type="text" class="form-control" placeholder="Número sequencial do projeto" name="projeto_num" ng-model="get_filters.projeto_num">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group margin-bottom-0">
					<label>Cliente</label>
					<input type="text" class="form-control" placeholder="Cliente" name="projeto_cliente" ng-model="get_filters.projeto_cliente">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group margin-bottom-0">
					<label>Projeto</label>
					<input type="text" class="form-control" placeholder="Apelido do projeto" name="projeto_nome" ng-model="get_filters.projeto_nome">
				</div>
			</div>
		</div>

		<div class="row margin-top-10">
			<div class="col-md-6">
				<div ng-if="projetos.config.is_search">
					<small>Mostrando {{ projetos.config.total }} resultados.</small>
					<small><a href="/projetos" target="_self" class="text-danger">Limpar filtro</a></small>
				</div>
			</div>
			<div class="col-md-6 text-right">
				<button type="submit" class="btn btn-sm btn-primary"><i class="icon-magnifier icons"></i> Buscar</button>
			</div>
		</div>

	</form>

	<table class="table table-striped margin-top-30">

		<tr>
			<th width="200">Código</th>
			<th>Data</th>
			<th>Cliente</th>
			<th>Projeto</th>
			<th>Vendedor</th>
			<th class="text-center">Status</th>
			<th></th>
		</tr>

		<tr ng-repeat="(key, val) in projetos.results">
			<td><a href="/projetos/visualizar/{{ val.id }}">{{ val.projeto_code }}</a></td>
			<td>{{ val.projeto_cadastro_data * 1000 | date:'dd/MM/yyyy HH:mm' }}</td>
			<td>{{ val.projeto_cliente_nome }}</td>
			<td>{{ val.projeto_nome }}</td>
			<td>{{ val.vendedor_nome }}</td>
			<td class="text-center">
				<a href="/projetos/visualizar/{{ val.id }}" ng-class="{ 
					'text-success' : val.projeto_status == 'aprovado', 
					'text-primary' : val.projeto_status == 'finalizado',
					'text-danger' : val.projeto_status == 'suspenso',
					'text-warning' : val.projeto_status == 'em-viagem'
				}">{{ val.projeto_status_text }}</a>
			</td>
			<td width="100" class="text-right">
				<a href="/projetos/visualizar/{{ val.id }}" class="btn btn-sm btn-primary">
					<i class="fa fa-file-text-o" aria-hidden="true"></i>
					<div class="btn-tooltip">Visualizar</div>
				</a>
			</td>
		</tr>
		
	</table>
	
	<!-- pager -->
	<div class="text-center margin-top-30">
		<div aria-label="navigation" ng-if="config.total_pages > 1" class="d-inline-block"
			paginate-navigation 
			data-paginate="paginate"
			data-config="config"
			data-url="/projetos/">
		</div>	
	</div>

</div>