<div class="title-page">
	<div class="row">

		<div class="col-md-8">
			<h1>Projetos <small>({{ projetos.config.total }} registros)</small></h1>
		</div>

	</div>
</div>

<div class="box-content">

	<div class="box-subtitle">
		<h2>Listagem dos projetos</h2>
	</div>

	<!-- 

	<div class="card">
		<div class="card-body">

			<h3>Pesquisar</h3>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group margin-bottom-0">
						<label>Data inicial</label>
						<input type="date" class="form-control" ng-model="search_field">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group margin-bottom-0">
						<label>Data final</label>
						<input type="date" class="form-control" ng-model="search_field">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group margin-bottom-0">
						<label>Cód. da Proposta</label>
						<input type="text" class="form-control" ng-model="search_field">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group margin-bottom-0">
						<label>Cliente</label>
						<input type="text" class="form-control" ng-model="search_field">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group margin-bottom-0">
						<label>Apelido do projeto</label>
						<input type="text" class="form-control" ng-model="search_field">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group margin-bottom-0">
						<label>Status</label>
						<select class="form-control">
							<option>Todos</option>
							<option>Em aberto</option>
							<option>Em viagem</option>
							<option>Finalizado</option>
							<option>Suspenso</option>
						</select>
					</div>
				</div>
			</div>

			<div class="text-right margin-top-15">
				<button class="btn btn-sm btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Limpar</button>
				<button class="btn btn-sm btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Pesquisar</button>
			</div>

		</div>
	</div>

	-->


	<table class="table table-striped margin-top-30">

		<tr>
			<th>Código</th>
			<th>Data</th>
			<th>Cliente</th>
			<th>Projeto</th>
			<th>UF / Origem</th>
			<th>UF / Destino</th>
			<th>Vendedor</th>
			<th>Status</th>
			<th></th>
		</tr>

		<tr ng-repeat="(key, val) in projetos.results" ng-class="{ 
			'text-success' : val.projeto_status == 'em-aberto', 
			'text-primary' : val.projeto_status == 'finalizado',
			'text-danger' : val.projeto_status == 'suspenso',
			'text-warning' : val.projeto_status == 'em-viagem'
		}">
			<td><a href="/projetos/visualizar/{{ val.id }}">{{ val.projeto_codigo }}</a></td>
			<td>06/06/2018</td>
			<td>{{ val.projeto_cliente }}</td>
			<td>{{ val.projeto_codigo }} - {{ val.projeto_apelido }}</td>
			<td>--</td>
			<td>--</td>
			<td>--</td>
			<td><a href="/projetos/visualizar/{{ val.id }}">{{ val.projeto_status }}</a></td>
			<td width="220">
				<div class="buttons-capsule">
					<a href="/projetos/visualizar/{{ val.id }}" class="btn btn-sm btn-primary">Visualizar</a><a href="/projetos/gerencia/{{ val.id }}" class="btn btn-sm btn-warning">Editar</a><button ng-click="delete_projeto(val.id)" class="btn btn-sm btn-danger">Excluir</button>
				</div>
			</td>
		</tr>
		
	</table>

	<!-- pager -->
	<div class="text-center margin-top-30">
		<div aria-label="navigation" ng-if="projetos.config.total_pages > 1" class="d-inline-block">
		    <ul class="pagination">
		        <li ng-class="{disabled:projetos.config.current_page == 1}" class="page-item">
		            <a href="/projetos/{{projetos.config.current_page - 1}}" class="page-link"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		        </li>
		        <li ng-repeat="page in [] | range: projetos.config.total_pages | limitTo:10" ng-class="{active:projetos.config.current_page == page}" class="page-item">
		            <a href="/projetos/{{page}}" class="page-link">{{page}}</a>
		        </li>                
		        <li ng-class="{disabled:projetos.config.current_page == projetos.config.total_pages}" class="page-item">
		            <a href="/projetos/{{ projetos.config.current_page + 1 }}" class="page-link"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
		        </li>
		    </ul>
		</div>
	</div>

</div>