<h1 class="title-page">Visualização de projeto</h1>

<div class="box-content">

	<form ng-submit="vm.setUser()">

		<div class="box-subtitle">
			<h2>Projeto #123</h2>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="row">

					<div class="col-md-8">
						<div class="form-group">
							<label for="id">Descrição</label>
							<p>Exemplo de projeto</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label for="id">Data de cadastro</label>
							<p>16/06/2018</p>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label for="id">Resumo</label>
							<p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
						</div>
					</div>
					

				</div>

			</div>
			
		</div>

		<div class="box-subtitle">
			<h2>AS'S do projeto</h2>
		</div>

		<div class="card margin-bottom-25">
			<div class="card-body">
				
				<div class="row">
					<div class="col-md-4">
						<strong>Número da AS:</strong> 1234
					</div>
					<div class="col-md-4">
						<strong>Cadastrado:</strong> 16/06/2018
					</div>

					<div class="col-md-4">
						<a href="/" class="btn btn-outline-primary">Editar</a>
						<a href="/" class="btn btn-outline-primary">Visualizar</a>

					</div>
				</div>

			</div>
		</div>

		<div class="card margin-bottom-25">
			<div class="card-body">
				
				<div class="row">
					<div class="col-md-4">
						<strong>Número da AS:</strong> 1234
					</div>
					<div class="col-md-4">
						<strong>Cadastrado:</strong> 16/06/2018
					</div>

					<div class="col-md-4">
						<a href="/" class="btn btn-outline-primary">Editar</a>
						<a href="/" class="btn btn-outline-primary">Visualizar</a>

					</div>
				</div>

			</div>
		</div>

		<div class="card margin-bottom-25">
			<div class="card-body">
				
				<div class="row">
					<div class="col-md-4">
						<strong>Número da AS:</strong> 1234
					</div>
					<div class="col-md-4">
						<strong>Cadastrado:</strong> 16/06/2018
					</div>

					<div class="col-md-4">
						<a href="/" class="btn btn-outline-primary">Editar</a>
						<a href="/" class="btn btn-outline-primary">Visualizar</a>

					</div>
				</div>

			</div>
		</div>

		<div class="card margin-bottom-25">
			<div class="card-body">
				
				<div class="row">
					<div class="col-md-4">
						<strong>Número da AS:</strong> 1234
					</div>
					<div class="col-md-4">
						<strong>Cadastrado:</strong> 16/06/2018
					</div>

					<div class="col-md-4">
						<a href="/" class="btn btn-outline-primary">Editar</a>
						<a href="/" class="btn btn-outline-primary">Visualizar</a>

					</div>
				</div>

			</div>
		</div>

		<div class="card margin-bottom-25">
			<div class="card-body">
				
				<div class="row">
					<div class="col-md-4">
						<strong>Número da AS:</strong> 1234
					</div>
					<div class="col-md-4">
						<strong>Cadastrado:</strong> 16/06/2018
					</div>

					<div class="col-md-4">
						<a href="/" class="btn btn-outline-primary">Editar</a>
						<a href="/" class="btn btn-outline-primary">Visualizar</a>

					</div>
				</div>

			</div>
		</div>


		<div class="cadastro-footer margin-top-25">
			<a href="/projetos" class="btn btn-primary"><i class="icon-arrow-left icons"></i> Voltar</a>
		</div>


	</form>

</div>